<div class="d-flex">
    <div class="lhst_avatar_left-side-bar lhst_avatar_vertical-alignment-top lhst_desktop"></div>
    <div class="d-block lhst_main-section_mainmenu">
        <div class="lhst_building_ext_card lhst_inline image-parlax">
            <div class="image-container">
                <div class="lhst_main_data_image myImg front-side" width="117" height="117" style="background-image: url(../img/menu-icons/shop.jpg);"></div>
                <div class="back-side">
                    <div class="lhst_inline inner">
                        <img class="lhst_coins-img lhst_brightness" src="~/img/interface-icons/coins.png" alt="" />
                        <p class="lhst_brightness">Price: 5$</p>
                    </div>
                </div>
            </div>
        
            <div>
                <div class="lhst_inline lhst_building_card_left_part">
                    <div class="d-flex">
                        <p class="lhst_card_properties">Coins: 100</p>
                        <div class="lhst_tooltip lhst_cursor_help">
                            🛈
                                <span class="lhst_tooltiptext">
                                    Небольшая помощь на старте
                                </span>
                        </div>
                    </div>
                </div>
                <div class="lhst_inline">
                    <input type="submit" class="lhst_btn_unit_recruit" value="Buy" />
                </div>
            </div>
        </div>
    </div>
</div>