################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MiddleAges/MiddleAges/Data/Migrations/20231225094919_LandsAndCountries.cs
/MiddleAges/MiddleAges/Data/Migrations/20231225094919_LandsAndCountries.Designer.cs
