@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using MiddleAges.ViewComponents

@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Middle Ages: Стань легендой средневековья!</title>
    <meta name="description" content="Станьте правителем могущественной империи в мире, полном интриг и битв" />
    <meta name="keywords" content="gaming, online games, multiplayer, strategy, tactics, war games, simulation, role-playing, adventure, historical, fantasy, real-time strategy, turn-based strategy, PvP, PvE, world-building, management, resource management, civilization, campaign, guilds, alliances, quests, units, heroes, maps, territories, kingdoms, realms, sieges, diplomacy, trade, economy, technology, development, expansion, domination, victory, defeat, combat, defense, attack, troops, armies, military, conquest, empire, dynasty, throne, medieval, feudal, castle, knight, monarch, sovereign, ruler, leader, strategy guide" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <title>@ViewData["Title"] - MiddleAges</title>
    <link rel="icon" type="image/x-icon" href="~/img/interface-icons/gerb.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/middle-ages-style.css" />
    <link rel="stylesheet" href="~/css/map.css" />
    <link rel="stylesheet" href="~/css/avatar.css" />
    <link rel="stylesheet" href="~/css/tabs.css" />
    <link rel="stylesheet" href="~/css/auth.css" />
    <link rel="stylesheet" href="~/css/rotate-img.css" />
    <link rel="stylesheet" href="~/css/country.css" />
    <link rel="stylesheet" href="~/css/dialogWindow.css" />
    <link rel="stylesheet" href="~/css/chat.css" />
    <link rel="stylesheet" href="~/css/wars.css" />
    <link rel="stylesheet" href="~/css/media.css" />
</head>

<body>
    @* <div id="rekstr">
        <script type="text/javascript" language="JavaScript" src="/js/rttr.js"></script>  РЕКЛАМНАЯ СТРОКА
    </div> *@
    <div class="header text-muted">
        <div class="row">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="lhst_inline lhst_nav lhst_footer_avatar_scale">
                    @await Component.InvokeAsync(typeof(PlayerOverviewNavViewComponent))
                </div>
                <div class="lhst_inline lhst_vertical-line"></div>
                <div class="lhst_inline lhst_nav lhst_footer_margin lhst_scale">
                    <ul class="lhst_nav">
                        <li class="lhst_nav ">
                            <a class="nav-link text-dark header-menu lhst_nav main-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Main" asp-action="Index">Main</a>
                        </li>
                        <li class="lhst_nav ">
                            <a class="nav-link text-dark header-menu lhst_nav map-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Map" asp-action="Index">Map</a>
                        </li>
                        <li class="lhst_nav ">
                            <a class="nav-link text-dark header-menu lhst_nav state-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Country" asp-action="Index">Country</a>
                        </li>
                        <li class="lhst_nav ">
                            <a class="nav-link text-dark header-menu lhst_nav settings-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                        </li>
                        <li class="lhst_nav ">
                            <a class="nav-link text-dark header-menu lhst_nav rating-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Rating" asp-action="Index">Rating</a>
                        </li>
                        <li class="lhst_nav ">
                            <a class="nav-link text-dark header-menu lhst_nav wars-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Wars" asp-action="Index">Wars</a>
                        </li>
                        <li class="lhst_nav ">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                    
                </div>
            }
            else
            {
                <div class="flex-grow-1"></div>
            }
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class=" align-top float-right lhst_inline lhst_nav">
            @await Component.InvokeAsync(typeof(ChatViewComponent))
        </div>
    }
    <div>
        <main class="lhst_vertical-alignment-top">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-muted d-inline-flex">
        <div class="container lhst_footer-text ">
            &copy; 2023 - MiddleAges - <a class="lhst_privacy-btn" asp-area="" asp-controller="Main" asp-action="Privacy">Privacy</a>
        </div>
        <script src="https://yastatic.net/share2/share.js"></script>
        <div class="ya-share2 align-self-center" data-curtain data-lang="en" data-color-scheme="blackwhite" data-services="vkontakte,telegram,twitter,viber"></div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/showChat.js"></script>
    

    @*<script src="~/js/snow.js" type="text/javascript" language="JavaScript"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
