@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using MiddleAges.ViewComponents

@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiddleAges</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/middle-ages-style.css" />
    <link rel="stylesheet" href="~/css/map.css" />
</head>
<body>
    <div class="header">
        @* class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" *@
            
        <div class="row">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="lhst_inline lhst_nav">
                    @await Component.InvokeAsync(typeof(PlayerOverviewNavViewComponent))
                </div>

                <div class="lhst_inline lhst_vertical-line"></div>

                <div class="lhst_inline lhst_nav">
                    <ul class="lhst_nav">
                        <li class="lhst_nav">
                            <a class="nav-link text-dark header-menu lhst_nav main-btn lhst_shadow_text" asp-area="" asp-controller="Main" asp-action="Index">Main</a>
                        </li>
                        <li class="lhst_nav">
                            <a class="nav-link text-dark header-menu lhst_nav map-btn lhst_shadow_text" asp-area="" asp-controller="Map" asp-action="Index">Map</a>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="flex-grow-1"></div>
            }

                <div class="lhst_right-status-nav-container lhst_inline">
                    <partial name="_LoginPartial" />
                </div>
        </div>
    </div>

    <div>
        <main class="lhst_vertical-alignment-top lhst_main-section">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container lhst_footer-text">
            &copy; 2023 - MiddleAges - <a class="lhst_privacy-btn" asp-area="" asp-controller="Main" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
