@model List<MiddleAges.Entities.Building>

<p class="lhst_possessions_titles">Buildings</p>

@for (int i = 0; i < Model.Count(); i++)
{
<div class="lhst_building_ext_card lhst_inline">
    <div class="lhst_building_image">
        <img src="../img/buildings/@(Model[i].Type).png" width="120" height="120" class="myImg" alt="" />
    </div>

    @{
        var buildingName = CommonLogic.getBuildingNameByType(Model[i].Type);
    }

    <div>
        <p class="lhst_card_properties">@buildingName</p>
        <p class="lhst_card_properties">Level: @Model[i].Lvl/10</p>
    </div>
</div>
}