:root {
    --main-color: #232323;
    --add-color: #393939;
    --green-color: #2d9062;
    --yellow-color: #faaf08;
    --wheat-color: #FFEBCD;
}

.lhst_attr_img_big{
    width: 40px;
    height: 40px;
}

.lhst_attr_img_small {
    width: 20px;
    height: 20px;
}

.lhst_attr_coin_img {
    width: 16px;
    height: 16px;
}

.lhst_attr_name {
    width: 107px;
}

.lhst_attr_value {
    width: 40px;
    text-align: right;
}

.lhst_attr_card {
    width: 250px;
    border-style: solid;
    border-width: 2px;
    border-color: #2b2b2b;
    background-image: url("../img/menu-icons/black-scratch-lines.png");
    background-size: 100%;
    /*background-color: var(--main-color);*/
    border-radius: 6px;
    color: var(--wheat-color);
    padding: 1rem;
}

.lhst_attr_horizontal-line {
    border-style: solid;
    border-width: .5px 0 0 0;
    border-color: var(--add-color);
    margin: 0 0 0 -1px
}


