.lhst_avatar_vertical-alignment-top {
    vertical-align: top
}

.lhst_avatar_main-section {
    margin-left: 229px;
    margin-top: 120px
}

.lhst_avatar_left-side-bar {
    background-color: #232323;
    width: 229px;
    min-width: 229px;
    position: fixed;
    height: 100%;
    margin-top: 115px
}

.lhst_avatar_possessions_titles {
    margin: 3px;
    font-size: 16px;
    font-weight: 700;
    color: #a52a2a
}

.lhst_avatar_inline {
    display: inline-block
}

.lhst_avatar_main_data_image {
    border-style: solid;
    border-width: 2px;
    border-color: #232323;
    border-radius: 10px;
    height: 120px;
    width: 120px;
    display: inline-block;
    overflow: hidden
}

.lhst_avatar_main_image {
    border-style: solid;
    border-width: 2px;
    border-color: #232323;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    display: inline-block;
    overflow: hidden
}

.lhst_avatar_selection_div {
    height: 400px;
    width: 530px;
    padding: 15px;
    background-color: #232323;
    border-radius: 20px;
    border-width: 2px;
    border-color: #f5deb3;
    color: #f5deb3
}

.lhst_avatar_image_div {
    text-align: center;
    height: 400px;
    width: 280px;
    margin-left: 10px;
    padding: 10px;
    background-color: #232323;
    border-radius: 20px;
    border-width: 2px;
    border-color: #f5deb3;
    color: #f5deb3
}

.lhst_avatar_divs_align {
    vertical-align: top
}

.lhst_slider {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    --scrollbar-color-thumb: #232323;
    --scrollbar-color-track: #393939;
    --scrollbar-width: thin;
    --scrollbar-width-legacy: 0px
}

.lhst_slider::-webkit-scrollbar-track {
    background: var(--scrollbar-color-track)
}

.lhst_slider::-webkit-scrollbar {
    max-width: var(--scrollbar-width-legacy);
    max-height: var(--scrollbar-width-legacy)
}

.lhst_slider::-webkit-scrollbar-thumb {
    background: transparent
}

.lhst_slider::-webkit-scrollbar-track {
    background: transparent
}

.lhst_slider:hover::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-thumb)
}

.lhst_slider:hover::-webkit-scrollbar-track {
    background: var(--scrollbar-color-track)
}

.lhst_slider-horizontal {
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    --scrollbar-color-thumb: red;
    --scrollbar-color-track: yellow;
    --scrollbar-width: thin;
    --scrollbar-width-legacy: 5px
}

.lhst_slider-horizontal::-webkit-scrollbar-track {
    background: var(--scrollbar-color-track)
}

.lhst_slider-horizontal::-webkit-scrollbar {
    max-width: var(--scrollbar-width-legacy);
    max-height: var(--scrollbar-width-legacy)
}

.lhst_slider-horizontal::-webkit-scrollbar-thumb {
    background: transparent
}

.lhst_slider-horizontal::-webkit-scrollbar-track {
    background: transparent
}

.lhst_slider-horizontal:hover::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-thumb)
}

.lhst_slider-horizontal:hover::-webkit-scrollbar-track {
    background: var(--scrollbar-color-track)
}

.lhst_btn_avatar_confirm {
    margin-bottom: 3px;
    padding: 0;
    width: 74px;
    height: 38px;
    background: radial-gradient(#393939,black);
    color: #f4ebdb;
    border-radius: 9px;
    font-weight: 700;
    font-size: revert
}

.lhst_btn_avatar_confirm:hover {
    background: radial-gradient(#2d9062,black);
    color: #f5deb3
}

.lhst_checkbox_gender {
    border: thick;
    border-width: 2px;
    border-radius: 5px;
    border-color: green;
    width: 30px;
    height: 30px
}

.lhst_small_avatar_image_selection:hover {
    cursor: pointer
}

.lhst_info-section {
    margin-bottom: 70px;
}

.lhst_avatar_info_div {
    width: 817px;
    margin-left: 10px;
    padding: 15px;
    background-color: #232323;
    border-radius: 20px;
    border-width: 2px;
    border-color: #f5deb3;
    color: #f5deb3;
    vertical-align: top;
}

.lhst_share_img {
    width: 20px;
    height: 20px;
}

.lhst_input_info_share {
    width: 200px;
    height: 24px;
    margin-bottom: 3px;
    margin-left: 4px;
    background: radial-gradient(#393939,black);
    color: wheat;
    border-radius: 3px;
    font-size: 14px;
}

.lhst_contact_info_input_description {
    width: 258px;
    height: 83px;
    background: radial-gradient(#393939,black);
    color: wheat;
    border-radius: 3px;
    word-wrap:break-word;
    vertical-align:top;
    font-size: 12px;
}

.lhst_settings_button {
    background: radial-gradient(#393939,black);
    transition: .3s;
    color: #f4ebdb;
    border-radius: 5px;
    font-family: 'Sitka Display', 'Arial', Arial, sans-serif;
    line-height: 1.2;
}

.lhst_settings_button:hover {
    background: radial-gradient(#2d9062,black);
    color: #faaf08
}

::placeholder {
    color: #2d9062;
    opacity: 90%
}

:focus::placeholder {
    opacity: 0;
    transition: opacity .2s
}



