.lhst_chat_div {
    text-align: center;
    max-height: calc(100vh - 212px);
    padding: 10px;
    background-color: #232323;
    border-radius: 20px 0 0 20px;
    border-width: 2px;
    border-color: #f5deb3;
    color: wheat;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 100;
    z-index: 1100;
}


.lhst_chat_line {
    width: auto;
    height: 1px;
    background-color: #f5deb3
}

.lhst_chat_text {
    width: 150px;
    font-weight: lighter;
    word-break:break-all;
}

.lhst_display_grid {
    display: grid
}

.lhst_username_text {
    color: #2d9062;
    font-size: 14px;
    font-weight: 700
}

.lhst_chat_height {
    height: 100%
}

.lhst_chat_input {
    width: 230px;
    height: 50px;
    margin-bottom: 3px;
    margin-left: 4px;
    background-color: #393939;
    color: wheat;
    border-radius: 10px;
    padding-left:10px;
    resize: none;
    border-style: none;
}
.lhst_chat_input::placeholder {
    color:lightgray;
    font-size:12px;
}

.lhst_button_input {
    width: 50px;
    height: 50px;
    margin-bottom: 3px;
    margin-left: 4px;
    background-color:#393939;
    color: lightgray;
    border-radius: 25px;
    font-weight: 700;
    font-size: revert;
    box-shadow: none;
    border-style: none;
}
    .lhst_button_input:hover {
        background: radial-gradient(#2d9062,black);
        color: wheat;
    }

.lhst_chat_but_marg {
    margin-top: 141px
}

.lhst_but_open_chat {
    transform: rotate(-90deg);
    margin-top: calc(30vh);
    margin-right: -16px;
    white-space: pre;
    font-size: small;
    z-index: 1100
}

@keyframes color-change {
    0% {
        color: #2d9062;
    }

    50% {
        color: #faaf08;
    }

    100% {
        color: #2d9062;
    }
}

.animation-text {
    animation: color-change 5s infinite;
}