:root {
    --main-color: #232323;
    --add-color: #393939;
    --green-color: #2d9062;
    --yellow-color: #faaf08;
    --wheat-color: #FFEBCD
}

@font-face {
    font-family: 'MedievalSharp';
    src: url('../fonts/MedievalSharp-Regular.ttf') format('truetype');
}

.lhst_chat_div {
    text-align: center;
    max-height: calc(100vh - 212px);
    padding: 10px;
    background-image: url(../img/menu-icons/black-scratch-lines.png);
    background-size: 100%;
    border-radius: 20px 0 0 20px;
    border-width: 2px;
    border-color: var(--wheat-color);
    color: var(--wheat-color);
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 100;
    z-index: 1100;
    font-family: 'MedievalSharp', serif;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); /* Ёффект свечени€ */
}

.lhst_chat_container {
    overflow-y: auto !important
}

.lhst_chat_line {
    width: auto;
    height: 1px;
    background-color: var(--wheat-color)
}

.lhst_chat_text {
    width: 150px;
    font-weight: lighter;
    font-family: 'MedievalSharp', serif;
    word-break: break-all;
    font-size: 12px
}

.lhst_display_grid {
    display: grid
}

.lhst_username_text {
    color: var(--green-color);
    font-size: 14px;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8); /* “ень дл€ текста */
    filter: brightness(1.3)
}

    .lhst_username_text:hover {
        color: var(--yellow-color)
    }

.lhst_chat_height {
    height: 380px
}

.lhst_chat_input {
    width: 230px;
    height: 50px;
    margin-top: 13px;
    margin-bottom: 3px;
    margin-left: 4px;
    background-color: var(--add-color);
    font-family: 'MedievalSharp', serif;
    color: var(--wheat-color);
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* ¬нутренн€€ тень дл€ глубины */
    resize: none;
    border-style: none;
    font-size: 14px
}

    .lhst_chat_input::placeholder {
        color: lightgray;
        font-size: 12px
    }

.lhst_button_input {
    width: 50px;
    height: 50px;
    margin-bottom: 3px;
    margin-left: 4px;
    background-color: var(--add-color);
    font-family: 'MedievalSharp', serif;
    color: lightgray;
    border-radius: 25px;
    font-weight: 700;
    font-size: revert;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Ёффект свечени€ */
    border-style: none
}

    .lhst_button_input:hover {
        background: radial-gradient(var(--green-color),black);
        color: var(--yellow-color);
        border-style: outset
    }

    .lhst_button_input:active {
        border-style: inset
    }

.lhst_chat_but_marg {
    margin-top: 141px
}

.lhst_but_open_chat {
    transform: rotate(-90deg);
    margin-top: calc(30vh);
    margin-right: -16px;
    white-space: pre;
    font-size: small;
    z-index: 1100
}

/*@keyframes color-change {
    0% {
        color: var(--green-color);
    }

    50% {
        color: var(--yellow-color);
    }

    100% {
        color: var(--green-color);
    }
}

.animation-text {
    animation: color-change 5s infinite;
}*/