.lhst_country_div {
    text-align: center;
    /*height: 620px;*/
    width: 370px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    background-color: #232323;
    border-radius: 20px;
    border-width: 2px;
    border-color: wheat;
    color: wheat;
}

.lhst_country_img {
    display: inline-block;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.country_ruler_width{
    width:370px;
}

.lhst_country_king_size{
    font-size:20px;
    font-weight:700;
    align-self:end;
}

.lhst_country_line{
    width:350px;
    height:1px;
    background-color:wheat;
}

.lhst_country_history_line {
    width: 692px;
    height: 1px;
    background-color: wheat;
}

.lhst_country_history_comment {
    
    height: 50px;
    align-items:center;
    
}

.country_nav-avatar-img {
    height: 60px;
  
   /* border-style: solid !important;
    border-width: 1px !important;
    border-color: black !important;
    border-radius: 7px;
    vertical-align: top;*/
}

.lhst_country_info_region_value {
    display: inline-block;
    font-size: 14px;
    color: antiquewhite;
    margin-left: 5px;
    align-self: center;
}
.country_bottom_text_width {
    width: 120px;
}
.lhst_country_buttons_div {
    text-align: center;
    /*height: 100px;*/
   /* width: 1050px;*/
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    background-color: #232323;
    border-radius: 20px;
    border-width: 2px;
    border-color: wheat;
    color: wheat;
}

.lhst_country_history_div {
    text-align: left;
    height: 430px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    background-color: #232323;
    border-radius: 20px;
    border-width: 2px;
    border-color: wheat;
    color: wheat;
}

.lhst_country_history_img{
    border-radius:10px
}

.lhst_country_history_text{
    margin:0px 0px 0px 10px;
}

.lhst_country_scale {
    transition: 0.1s;
    display: block;
}

.lhst_country_scale:hover {
    transform: scale(1.05)}

.lhst_king_nav-avatar-img {
    height: 50px;
    width: 50px;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: black !important;
    border-radius: 7px;
    vertical-align: top;
}

