:root {
    --main-color: #232323;
    --add-color: #393939;
    --green-color: #2d9062;
    --yellow-color: #faaf08;
    --wheat-color: #FFEBCD
}

.header-menu.rename-btn {
    background-image: url(../img/menu-icons/Renaming.jfif);
    background-size: 100%
}

.header-menu.color-btn {
    background-image: url(../img/menu-icons/Recoloring.jfif);
    background-size: 100%
}

.header-menu.capital-btn {
    background-image: url(../img/menu-icons/ChangingCapital.jfif);
    background-size: 100%
}

.header-menu.transfer-btn {
    background-image: url(../img/menu-icons/TransferingLand.jfif);
    background-size: 100%
}

.header-menu.ruler-btn {
    background-image: url(../img/menu-icons/ChangingRuler.jfif);
    background-size: 100%
}

.header-menu.taxes-btn {
    background-image: url(../img/menu-icons/taxes.jfif);
    background-size: 100%
}

.header-menu.war-btn {
    background-image: url(../img/menu-icons/DeclaringWar.jfif);
    background-size: 100%
}

.header-menu.disband-btn {
    background-image: url(../img/menu-icons/Disbanding.jfif);
    background-size: 100%
}

.lhst_country_div {
    text-align: center;
    width: 370px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    background-image: url(../img/menu-icons/black-scratch-lines.png);
    background-size: 50%;
    border-radius: 20px;
    border-width: 2px;
    border-color: var(--wheat-color);
    color: var(--wheat-color);
    min-width: 370px;
    max-height: calc(100vh - 212px)
}

.lhst_country_img {
    display: inline-block;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px
}

.lhst_country_king_size {
    font-size: 20px;
    font-weight: 700;
    align-self: end
}

.lhst_country_line {
    height: 1px;
    background-color: var(--wheat-color)
}

.lhst_country_history_line {
    width: 692px;
    height: 1px;
    background-color: var(--wheat-color)
}

.lhst_country_history_comment {
    height: 50px;
    align-items: center;
    display: ruby-text
}

.country_card-population-img {
    height: 30px;
    border-radius: 5px;
}

.country_card-money-img {
    height: 25px
}

.country_card-land-img {
    height: 45px
}

.lhst_country_info_region_value {
    display: inline-block;
    font-size: 14px;
    color: var(--wheat-color);
    align-self: center
}

.country_bottom_text_width {
    width: 120px
}

.lhst_country_buttons_div {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    background-image: url(../img/menu-icons/black-scratch-lines.png);
    background-size: 100%;
    border-radius: 20px;
    border-width: 2px;
    border-color: var(--wheat-color);
    color: var(--wheat-color);
    padding-right: 6px;
    padding-left: 6px
}

.lhst_country_history_div {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    background-image: url(../img/menu-icons/black-scratch-lines.png);
    background-size: 30%;
    border-radius: 20px;
    border-width: 2px;
    border-color: var(--wheat-color);
    color: var(--wheat-color);
    max-height: calc(100vh - 336px)
}

.lhst_country_history_img {
    border-radius: 10px
}

.lhst_country_history_text {
    margin: 0 0 0 10px;
    word-wrap: break-word
}

.lhst_country_scale {
    transition: .1s;
    display: block
}

    .lhst_country_scale:hover {
        transform: scale(1.05)
    }

/*.lhst_king_nav-avatar-img {
    height: 80px;
    width: 80px;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #000 !important;
    border-radius: 7px;
    vertical-align: top
}*/

.lhst_king_nav-avatar-img {
    height: 80px;
    width: 80px;
    border: 1px solid transparent; /* Убираем стандартную черную границу */
    border-radius: 7px; /* Немного более округлые углы */
    vertical-align: top;
    /* Золотистый градиент на рамке */
    background-image: linear-gradient(#232323, #232323), /* основной темный фон */
    linear-gradient(to right, #d4af37, #f0e68c); /* золотистый градиент на рамке */
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 1px; /* Расстояние для рамки */
   
}

.lhst_slider_small_screen {
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    --scrollbar-color-thumb: var(--main-color);
    --scrollbar-color-track: var(--add-color);
    --scrollbar-width: thin;
    --scrollbar-width-legacy: 0
}

    .lhst_slider_small_screen::-webkit-scrollbar-track {
        background: var(--scrollbar-color-track)
    }

    .lhst_slider_small_screen::-webkit-scrollbar {
        max-width: var(--scrollbar-width-legacy);
        max-height: var(--scrollbar-width-legacy)
    }

    .lhst_slider_small_screen::-webkit-scrollbar-thumb {
        background: transparent
    }

    .lhst_slider_small_screen::-webkit-scrollbar-track {
        background: transparent
    }

    .lhst_slider_small_screen:hover::-webkit-scrollbar-thumb {
        background: var(--scrollbar-color-thumb)
    }

    .lhst_slider_small_screen:hover::-webkit-scrollbar-track {
        background: var(--scrollbar-color-track)
    }

.lhst_ul_height {
    width: 300px;
    height: 60px
}

.lhst_law_btn {
    width: 80px;
    height: 80px;
    padding: 5px;
    border-style: solid;
    border-radius: 16px;
    border-width: 1px;
    border-color: #000;
    color: var(--wheat-color);
    font-family: 'Sitka Display','Arial',Arial,sans-serif;
    margin: 2px;
    font-size: 14px;
    line-height: 1;
    vertical-align: middle;
    align-items: center;
    justify-content: center
}

    .lhst_law_btn:hover {
        -webkit-text-stroke: thin var(--add-color);
        -webkit-text-fill-color: var(--yellow-color);
        font-weight: 700;
        border-style: outset
    }

    .lhst_law_btn:active {
        border-style: inset
    }

.lhst_slider_lands_screen {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    --scrollbar-color-thumb: var(--main-color);
    --scrollbar-color-track: var(--add-color);
    --scrollbar-width: thin;
    --scrollbar-width-legacy: 0
}

    .lhst_slider_lands_screen::-webkit-scrollbar-track {
        background: var(--scrollbar-color-track)
    }

    .lhst_slider_lands_screen::-webkit-scrollbar {
        max-width: var(--scrollbar-width-legacy);
        max-height: var(--scrollbar-width-legacy)
    }

    .lhst_slider_lands_screen::-webkit-scrollbar-thumb {
        background: transparent
    }

    .lhst_slider_lands_screen::-webkit-scrollbar-track {
        background: transparent
    }

    .lhst_slider_lands_screen:hover::-webkit-scrollbar-thumb {
        background: var(--scrollbar-color-thumb)
    }

    .lhst_slider_lands_screen:hover::-webkit-scrollbar-track {
        background: var(--scrollbar-color-track)
    }
