.lhst_dialog {
    left: 0;
    right: 0;
    margin: 40vh auto;
    border: solid;
    padding: 1em;
    background: #232323;
    color: #f5deb3;
    width: 300px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    height: auto !important
}

.lhst_dialog::backdrop {
    background: rgba(0,0,0,0.5)
}

.lhst_dialog_rename_input {
    width: 150px;
    height: 26.2px;
    margin-bottom: 3px;
    margin-left: 4px;
    background: radial-gradient(#393939,black);
    color: #f4ebdb;
    border-radius: 3px
}

.lhst_dialog_rename_input:hover {
    color: #f5deb3;
    background: radial-gradient(#2d9062,black)
}

.lhst_dialog_select_input {
    width: 150px;
    height: 26.2px;
    margin-bottom: 3px;
    margin-left: 4px;
    background: radial-gradient(#393939,#232323);
    color: #f5deb3;
    border-radius: 3px;
    font-weight: 700
}

.lhst_option:checked {
    background: #f5deb3 linear-gradient(#393939,#232323);
    color: #393939
}

.lhst_option {
    background: #232323 linear-gradient(#393939,#232323);
    color: #f5deb3
}

.lhst_btn_dialog_cancel {
    background: radial-gradient(#393939,black);
    color: #f4ebdb;
    border-radius: 3px;
    font-size: x-small
}

.lhst_btn_dialog_cancel:hover {
    background: radial-gradient(#FF033E,black);
    color: #f5deb3
}


.lhst_dialog_wars {
    left: 0;
    right: 0;
    margin: 20vh auto;
    border: solid;
    padding: 1em;
    background: #232323;
    color: #f5deb3;
    height: 50vh;
    width: 700px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    /*    overflow: hidden;*/
    outline: 0;
    
    /*  height: auto !important*/
}

.lhst_dialog_wars::backdrop {
    background: rgba(0,0,0,0.5)
}

.lhst_dialog_screens {
    left: 0;
    right: 0;
    margin: 20vh auto;
    border: solid;
    padding: 1em;
    background: #232323;
    color: #f5deb3;
    height: 600px;
    width: 1100px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    /*    overflow: hidden;*/
    outline: 0;
    /*  height: auto !important*/
}

    .lhst_dialog_screens::backdrop {
        background: rgba(0,0,0,0.5)
    }