:root {
    /*--main-color: #232323;*/
    --main-color: #FFEBCD;
    --add-color: #393939;
    --green-color: #2d9062;
    --yellow-color: #faaf08;
    --wheat-color: #FFEBCD;
    --pattern: url(../img/menu-icons/black-scratch-lines.png);
}

.lhst_svg-map {
    position: fixed;
    width: 100%
}

#global_region_map {
    cursor: pointer;
    z-index: 1200;
    filter: brightness(0.9);
}

    #global_region_map polygon {
        stroke-width: 1;
        stroke: var(--add-color);
        fill: transparent;
        opacity: 100%
    }

        #global_region_map polygon:hover {
            filter: brightness(0.85)
        }


#lhst_map_img {
    z-index: 1
}

.lhst_btn_moveToRegion {
    background: radial-gradient(var(--add-color),black);
    color: var(--wheat-color);
    border-radius: 3px;
    font-size: revert
}

    .lhst_btn_moveToRegion:hover {
        background: radial-gradient(var(--green-color),black);
        color: var(--yellow-color);
        border-style: outset
    }

    .lhst_btn_moveToRegion:active {
        border-style: inset;
        transform: scale(0.95); /* Небольшое уменьшение размера при нажатии */
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Тень, создающая ощущение вдавливания */
    }
