@media screen and (min-height:851px) {
    .lhst_slider_small_screen {
        overflow-y: hidden
    }
}

@media screen and (max-height:699px) {
    .lhst_country_div {
        max-height: calc(100vh - 212px);
        width: 260px
    }

    .lhst_slider_small_screen {
        overflow-y: scroll
    }

    .lhst_country_history_div {
        max-height: calc(100vh - 336px)
    }

    .lhst_button_input {
        width: 30px;
        height: 30px
    }

    .lhst_chat_input {
        width: 80%;
        height: 30px
    }

    li a.lhst_nav {
        width: 60px;
        height: 60px;
        font-size: 11px
    }
}

@media screen and (max-height:850px) {
    .lhst_tabs_div {
        max-height: calc(100vh - 212px)
    }

    .lhst_wars_div {
        max-height: calc(100vh - 212px)
    }
}

@media screen and (max-width:1010px) {
    li a.lhst_nav {
        width: 60px;
        height: 60px;
        font-size: 11px
    }
    
}

@media screen and (max-width:807px) {

    li a.lhst_nav {
        width: 30px;
        height: 30px;
        font-size: 8px
    }

    .lhst_wars_country_text {
        font-size: 9px;
    }

    .lhst_wars_lands_text {
        font-size: 6px;
    }

    .lhst_chat_div {
        display: none
    }
}

@media screen and (max-width:1639px) {
    .lhst_font_size {
        font-size: 11px
    }

    .lhst_country_king_size {
        font-size: 14px
    }

    .lhst_country_info_region_value {
        font-size: 11px
    }

    .lhst_country_img {
        display: inline-block;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px
    }

    .lhst_wars_country_text {
        font-size: 14px;
    }

    .lhst_wars_lands_text {
        font-size: 12px;
    }

    .lhst_country_div {
        text-align: center;
        width: 260px;
        min-width: 260px
    }

    .lhst_king_nav-avatar-img {
        height: 50px;
        width: 50px;
        border-style: solid !important;
        border-width: 1px !important;
        border-color: #000 !important;
        border-radius: 7px;
        vertical-align: top
    }

    .country_bottom_text_width {
        width: 80px
    }

    li menu.lhst_nav {
        width: 50px;
        height: 50px;
        font-size: 11px
    }

    li button.lhst_nav {
        width: 50px;
        height: 50px;
        font-size: 11px;
        padding: 0
    }

    .lhst_country_history_line {
        width: auto
    }

    .lhst_avatar_image_div {
        height: 350px;
        width: 220px;
        max-height: calc(100vh - 212px)
    }

    .lhst_avatar_main_image {
        height: 150px;
        width: 150px
    }

    .lhst_btn_avatar_confirm {
        width: 87px;
        height: 39px
    }

    .lhst_avatar_main_data_image {
        height: 90px;
        width: 90px
    }

    .lhst_avatar_independent_land_description_divs {
        height: 350px;
        width: 310px;
        max-height: calc(100vh - 212px)
    }

    .lhst_avatar_selection_div {
        height: 350px;
        width: 310px;
        max-height: calc(100vh - 212px)
    }

    .lhst_avatar_info_div {

        width: 535px;
       
    }

    .auth_height {
        height: calc(100vh - 61px)
    }

    .auth_width {
        width: 30vw
    }

    .lhst_law_btn {
        width: 60px;
        height: 60px;
        font-size: 12px;
    }
}

@media screen and (max-width:1270px) {
    .lhst_chat_div {
        display: none
    }

    .lhst_country_history_comment {
        height: 50px;
        align-items: center;
        display: flex
    }

    .lhst_wars_country_text {
        font-size: 12px;
    }

    .lhst_wars_lands_text {
        font-size: 10px;
    }

    .lhst_law_btn {
        width: 40px;
        height: 40px;
        font-size: 9px;
    }
}
