@media screen and (min-height:851px) {
    .lhst_slider_small_screen {
        overflow-y: hidden
    }
}

@media screen and (max-height:699px) {
    .lhst_country_div {
        max-height: calc(100vh - 212px);
        width: 260px
    }

    .lhst_slider_small_screen {
        overflow-y: scroll
    }

    .lhst_country_history_div {
        max-height: calc(100vh - 336px)
    }

    .lhst_button_input {
        width: 30px;
        height: 30px
    }

    .lhst_chat_input {
        width: 80%;
        height: 30px
    }

    li a.lhst_nav {
        width: 80px;
        height: 80px;
        font-size: 12px
    }
}

@media screen and (max-height:850px) {
/*    .lhst_tabs_div {
        max-height: calc(100vh - 212px)
    }*/

    .lhst_wars_div {
        max-height: calc(100vh - 212px)
    }
}

@media screen and (max-height:925px) {
    .auth_text_font {
        font-family: Algerian;
        font-size: 56px;
        font-weight: 400;
        text-shadow: 5px 5px 5px #000
    }

    .auth_text_font_but {
        font-family: Algerian;
        font-size: 30px;
        font-weight: 300
    }

    .auth_text_font_login {
        font-family: Algerian;
        font-size: 24px;
        font-weight: 400;
        text-shadow: 3px 3px 3px #000
    }

    .auth_height {
        height: 200px
    }

    .auth_height_side {
        height: 100px
    }

    .auth_btn {
        color: var(--wheat-color);
        background: radial-gradient(var(--add-color),black);
        width: 100%;
        font-family: Algerian;
        font-size: 24px;
        font-weight: 300;
        border: #000;
        border-width: 2px;
        border-radius: 10px
    }
}

@media screen and (max-width:960px) and (orientation: portrait) {
    .lhst_wars_country_text {
        font-size: 10px
    }

    .lhst_wars_lands_text {
        font-size: 8px
    }
    .dropdown-toggle {
        display: block;
        padding: 0;
        font-size: 50px;
        width: 100%;
        height: 100%;
    }

    .dropdown{
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .lhst_main-section {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        text-align: center;
    }

    .lhst_map-container {
        margin-left: 0px;
        margin-right: 0px;
    }

    .lhst_avatar_image_div {
        margin-bottom: 10px;
        height: 250px;
    }

    .lhst_avatar_selection_div{
        width: 174px;
        height:250px;
    }

    .lhst_avatar_main_image {
        height: 80px;
        width: 80px
    }

    .lhst_avatar_main_data_image_div{
        width: 70px;
        height: 70px;
    }

    .lhst_avatar_main_data_image {
        height: 70px;
        width: 70px
    }
    .lhst_info-section {
        margin: 0px;
    }

    .lhst_avatar_info_div {
        width: auto
    }

    #contactInfo{
        display:block;
        margin-left:0px;
    }

    .lhst_background_image {
        background: rgba(0, 0, 0, 0)
    }

    .lhst_svg-map {
        margin-top: -120px;
        left: 0
    }

    .mobileMapButtonsDiv {
        display: block;
        position: absolute;
        bottom: 0;
    }

    .mobileMainDiv {
        display: block;
    }

    .lhst_desktop{
        display:none;
    }

    .lhst_leftSideBar_country_name{
        margin-top: 0px;
    }

    .lhst_left_side_bar_land_content{
        margin: 0.5em !important;
        padding: 5px !important;
    }

    .lhst_header_margin{
        margin: 0;
    }

    button.dropdown-toggle::after{
        content: none;
    }

    .lhst_main-section_mainmenu {
        margin-left: 10px;
        margin-right: 10px;
        display: block;
    }

    .lhst_left-side-bar {
        height: auto;
        width: 100%;
        z-index: 2;
    }

    .lhst_country_buttons_div{
        margin:0;
    }

    .lhst_menu_but {
        width: calc(100vw - 230px);
        max-width: calc(100vw - 230px);
    }
    .header{
        z-index: 3;
    }
    .mobile_display_country{
        display: block;
        margin-left:10px;
        margin-right:10px;
    }
    .lhst_country_div {
        text-align: center;
        width: 100%;
        min-width: 260px;
        margin-left:0;
        margin-top:0;
    }
    .lhst_country_img{
        height:100px;
        margin:0;
    }
    .lhst_king_nav-avatar-img{
        height:40px;
        width:40px;
        padding:0;
    }
    .lhst_country_king_size{
        font-size:12px;
        font-weight:200;
    }
    p{
        font-size: 12px;
    }
    .country_card-population-img{
        height:20px;
    }
    .lhst_country_info_region_value{
        font-size:10px;

    }
    .country_card-money-img{
        height:20px;
    }
    .country_card-land-img{
        height:30px;
    }

    .lhst_country_history_div {
        margin-left: 0;
        width: 100%;
        padding: 5px;
        height: 300px;
        max-height: calc(100vh - 336px)
    }
    .lhst_btn_war_modal{
        font-size:7px;
    }
    .lhst_tb_war_modal{
        font-size: 10px;
    }
    .lhst_law_btn {
        height: 50px;
        width: 50px;
        font-size: 12px;
    }
    /*.lhst_country_history_img{
        height:30px;
    }*/
/*    .lhst_country_history_comment{
        height:35px;
    }*/
    .lhst_country_history_text{
        font-size:10px;
    }

    .lhst_scale polygon {
        transition: none;
    }

        .lhst_scale polygon:hover {
            transform:none;
            border-style: none;
            stroke-width: 0; /* ������� ������� */
            stroke: none;
        }

        .lhst_scale polygon:active {
            border-style: none;
        }
    #global_region_map polygon:hover {
        filter: none;
    }

    li a.lhst_nav {
       
        height: 50px;
        
    }

    .header-menu.main-btn {
        background-position: center;
        align-content: center;
    }

    .header-menu.map-btn {%;
        background-position: center;
        align-content: center;
    }

    .header-menu.state-btn {
        background-position: center;
        align-content: center;
    }

    .header-menu.settings-btn {
        background-position: center;
        align-content: center;
    }

    .header-menu.rating-btn {
        background-position: center;
        align-content: center;
    }

    .header-menu.wars-btn {
        background-position: center;
        align-content: center;
    }

    .header-menu.shop-btn {
        background-position: center;
        align-content: center;
    }

    .lhst_main_div {
        text-align: center;
        width: 100%;
        min-width: 260px;
        margin-left: 0;
        margin-top: 0;
        display: grid;
        justify-items: center;
    }

    .lhst_settings_div {
        text-align: center;
        width: 100%;
        min-width: 260px;
        margin-left: 0;
        margin-top: 0;
        display: grid;
        justify-items: center;
    }

    .lhst_rating-img{
        width: 20px;
    }

    .lhst_card_properties {
        width: auto
    }
    .lhst_text_left{
        text-align: left;
    }

    .lhst_attr_name{
        text-align:left;
    }

    .lhst_btn_war_modal{
        margin-left: 1px;
    }
}



@media screen and (max-width:1639px) and (min-width: 959px) {
    .auth_text_font {
        font-family: Algerian;
        font-size: 56px;
        font-weight: 400;
        text-shadow: 5px 5px 5px #000
    }

    .auth_text_font_but {
        font-family: Algerian;
        font-size: 30px;
        font-weight: 300
    }

    .auth_text_font_login {
        font-family: Algerian;
        font-size: 24px;
        font-weight: 400;
        text-shadow: 3px 3px 3px #000
    }

    .auth_height {
        height: 150px
    }

    .auth_height_side {
        height: 100px
    }

    .auth_btn {
        color: var(--wheat-color);
        background: radial-gradient(var(--add-color),black);
        width: 100%;
        font-family: Algerian;
        font-size: 24px;
        font-weight: 300;
        border: #000;
        border-width: 2px;
        border-radius: 10px
    }

    .lhst_font_size {
        font-size: 11px
    }

    .lhst_country_king_size {
        font-size: 14px
    }

    .lhst_country_info_region_value {
        font-size: 11px
    }

    .lhst_country_img {
        display: inline-block;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px
    }

    .lhst_wars_country_text {
        font-size: 14px
    }

    .lhst_wars_lands_text {
        font-size: 12px
    }

    .lhst_country_div {
        text-align: center;
        width: 260px;
        min-width: 260px
    }

    .lhst_king_nav-avatar-img {
        height: 50px;
        width: 50px;
        border-style: solid !important;
        border-width: 1px !important;
        border-color: #000 !important;
        border-radius: 7px;
        vertical-align: top
    }

    .country_bottom_text_width {
        width: 80px
    }

    li menu.lhst_nav {
        width: 50px;
        height: 50px;
        font-size: 11px
    }

    li button.lhst_nav {
        width: 50px;
        height: 50px;
        font-size: 11px;
        padding: 0
    }

    .lhst_country_history_line {
        width: auto
    }


    .lhst_btn_avatar_confirm {
        width: 87px;
        height: 39px
    }


    .lhst_avatar_independent_land_description_divs {
        height: 350px;
        width: 310px;
        max-height: calc(100vh - 212px)
    }

/*    .lhst_avatar_selection_div {
        height: 350px;
        width: 310px;
        max-height: calc(100vh - 212px)
    }*/


    .auth_height {
        height: 200px
    }

    .auth_width {
        width: 30vw
    }

    .lhst_law_btn {
        width: 60px;
        height: 60px;
        font-size: 12px
    }
}

@media screen and (max-width:1270px) and (min-width: 959px) {
    .lhst_chat_div {
        display: none
    }

    .lhst_country_history_comment {
        height: 50px;
        align-items: center;
        display: flex
    }

    .lhst_wars_country_text {
        font-size: 12px
    }

    .lhst_wars_lands_text {
        font-size: 10px
    }

    /*    .lhst_law_btn {
        width: 40px;
        height: 40px;
        font-size: 9px
    }*/
}


