:root {
    --main-color: #232323;
    --add-color: #393939;
    --green-color: #2d9062;
    --yellow-color: #faaf08;
    --wheat-color: #FFEBCD
}

body {
    background-color: var(--wheat-color);
    background-size: 100%;
    margin: 0
}

.header {
    border-bottom: 1px solid;
    position: fixed;
    z-index: 1;
    width: 100%
}

.header-menu {
    border-style: solid;
    border-width: 1px;
    border-color: #000
}

    .header-menu.main-btn {
        background-image: url(../img/menu-icons/main_img.png);
        background-size: 100%
    }

    .header-menu.map-btn {
        background-image: url(../img/menu-icons/map-icon.png);
        background-size: 100%
    }

    .header-menu.state-btn {
        background-image: url(../img/menu-icons/country-icon.png);
        background-size: 100%
    }

    .header-menu.settings-btn {
        background-image: url(../img/menu-icons/settings.jpg);
        background-size: 100%
    }

    .header-menu.rating-btn {
        background-image: url(../img/menu-icons/rating.png);
        background-size: 100%
    }

    .header-menu.wars-btn {
        background-image: url(../img/menu-icons/war.png);
        background-size: 100%
    }

.coins-btn {
    background-image: url(../img/interface-icons/coins.png);
    background-size: 100%;
    height: 30px;
    width: 20px
}

.nav-avatar-img {
    height: 100px;
    width: 100px;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #000 !important;
    border-radius: 7px;
    vertical-align: top
}

.lhst_scale {
    display: inline-block;
    overflow: hidden
}

    .lhst_scale img {
        transition: .1s;
        display: block
    }

        .lhst_scale img:hover {
            transform: scale(1.1)
        }

    .lhst_scale div {
        transition: .1s;
        display: block
    }

        .lhst_scale div:hover {
            transform: scale(1.1)
        }

    .lhst_scale polygon {
        transition: .1s;
        display: block
    }

        .lhst_scale polygon:hover {
            transform: scale(0.995);
            border-style: outset
        }

        .lhst_scale polygon:active {
            border-style: inset
        }

    .lhst_scale a {
        transition: .1s;
        display: block;
        border-width: 2px;
        border-style: outset
    }

        .lhst_scale a:hover {
            transform: scale(1.05);
            border-color: var(--main-color);
            border-style: outset
        }

        .lhst_scale a:active {
            border-style: inset
        }

    .lhst_scale button {
        transition: .1s;
        display: inline-flex;
        border-width: 0px;
        border-style: outset
    }

        .lhst_scale button:hover {
            transform: scale(1.05);
            border-color: var(--main-color);
            border-style: outset;
            filter: brightness(1.3)
        }

        .lhst_scale button:active {
            border-style: inset
        }

.player-overview-div-inline {
    display: inline
}

.lhst_person-nav-container-inline {
    display: inline-block;
    overflow: hidden
}

.lhst_person-div-overview-data {
    margin: 0
}

.lhst_person-data-div-align {
    position: absolute;
    margin-left: 5px
}

.lhst_overview-player-name {
    color: #a52a2a;
    font-weight: 700
}

    .lhst_overview-player-name:hover {
        font-family: Algerian;
        color: var(--yellow-color)
    }

li.lhst_nav {
    float: left;
    margin: 5px
}

li a.lhst_nav {
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 90px;
    height: 90px;
    color: var(--wheat-color) !important;
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    font-family: 'Sitka Display','Arial',Arial,sans-serif;
    font-weight: 700;
    border-radius: 10px
}

    li a.lhst_nav:hover {
        -webkit-text-stroke: thin var(--add-color);
        -webkit-text-fill-color: var(--yellow-color);
        font-weight: 700;
        border-style: outset;
        filter: brightness(1.3)
    }

    li a.lhst_nav:active {
        border-style: inset
    }

li menu.lhst_nav {
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 90px;
    height: 90px;
    color: var(--wheat-color) !important;
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    font-family: 'Sitka Display','Arial',Arial,sans-serif;
    font-weight: 700;
    border-radius: 10px;
    border-style: none
}

    li menu.lhst_nav:hover {
        -webkit-text-stroke: thin var(--add-color);
        -webkit-text-fill-color: var(--yellow-color);
        font-weight: 700
    }

li button.lhst_nav {
    padding-top: 50px;
    text-align: center;
    text-decoration: none;
    width: 90px;
    height: 90px;
    color: var(--wheat-color) !important;
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    font-family: 'Sitka Display','Arial',Arial,sans-serif;
    font-weight: 700;
    border-radius: 10px
}

    li button.lhst_nav:hover {
        -webkit-text-stroke: thin var(--add-color);
        -webkit-text-fill-color: var(--yellow-color);
        font-weight: 700;
        border-style: outset
    }

    li button.lhst_nav:active {
        border-style: inset
    }

.lhst_inline {
    display: inline-block
}

.lhst_header_margin {
    margin: 15px
}

.lhst_header_avatar_scale {
    width: 230px;
    height: 120px;
    padding-top: 4px;
    padding-left: 10px
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.header {
    background-image: url(../img/menu-icons/black-scratch-lines.png);
    background-size: 20%
}

.footer {
    background-image: url(../img/menu-icons/black-scratch-lines.png);
    background-size: 20%
}

.lhst_vertical-line {
    border-style: solid;
    border-width: 0 .5px 0 0;
    border-color: var(--add-color);
    margin: 0 0 0 -1px
}

.lhst_left-side-bar {
    background-image: url(../img/menu-icons/black-scratch-lines.png);
    background-size: 10%;
    width: 229px;
    min-width: 229px;
    position: fixed;
    height: 100%;
    margin-top: 115px
}

.lhst_vertical-alignment-top {
    vertical-align: top
}

.column {
    display: inline-block
}

.lhst_coins-img {
    width: 17px;
    height: 17px
}

.lhst_coins-text {
    vertical-align: top;
    color: var(--wheat-color)
}

footer {
    background-color: var(--main-color);
    border-top: 1px solid
}

.lhst_footer-text {
    color: var(--wheat-color);
    margin-left: 5px
}

.lhst_privacy-btn {
    color: var(--wheat-color)
}

.lhst_main-section {
    margin-left: 229px;
    margin-top: 130px
}

.lhst_main-section_mainmenu {
    margin-left: 239px;
    margin-top: 140px;
    margin-bottom: 70px
}

.lhst_building_ext_card {
    border-style: solid;
    border-width: 0px;
    border-color: #2b2b2b;
    background-image: conic-gradient(from 235deg at 41% 47%,#232323 16%,#faaf08 33%,#faaf08 58%,#232323 70%);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 130px;
    border-radius: 6px
}

.lhst_main_data_image {
    border-style: solid;
    border-width: 0px;
    border-color: #2b2b2b;
    height: 120px;
    /*width: 120px;*/
    display: block;
    overflow: hidden;
    border-radius: 3px;
    margin: 3px 3px 3px 3px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
}

.lhst_possessions_titles {
    margin: 3px;
    font-size: 16px;
    font-weight: 700;
    color: var(--main-color)
}

.lhst_card_properties {
    margin: 2px;
    color: var(--wheat-color)
}

.lhst_building_card_left_part {
    width: 96px
}

.lhst_btn_building_lvlup {
    margin-bottom: 3px;
    padding: 0;
    width: 24px;
    height: 24px;
    background: radial-gradient(var(--add-color),black);
    color: var(--wheat-color);
    border-radius: 3px;
    font-weight: 700;
    font-size: revert
}

    .lhst_btn_building_lvlup:hover {
        background: radial-gradient(var(--green-color),black);
        color: var(--yellow-color);
        border-style: outset
    }

    .lhst_btn_building_lvlup:active {
        border-style: inset
    }

.lhst_btn_unit_recruit {
    background: radial-gradient(var(--add-color),black);
    color: var(--wheat-color);
    border-radius: 3px;
    overflow: hidden;
    width: 58px;
    height: 26.2px;
    font-size: revert
}

    .lhst_btn_unit_recruit:hover {
        background: radial-gradient(var(--green-color) 0%,var(--main-color) 90%);
        color: var(--yellow-color);
        border-style: outset
    }

    .lhst_btn_unit_recruit:active {
        border-style: inset
    }

.lhst_btn_logout {
    background: radial-gradient(var(--add-color),black);
    color: var(--wheat-color);
    border-radius: 3px;
    width: 58px;
    height: 26.2px;
    font-size: revert;
        font-family: 'Sitka Display','Arial',Arial,sans-serif;
}

    .lhst_btn_logout:hover {
        background: radial-gradient(var(--green-color),black);
        color: var(--yellow-color);
        border-style: outset
    }

    .lhst_btn_logout:active {
        border-style: inset
    }

.lhst_btn_group_selected_land {
    vertical-align: bottom;
    text-align: center;
    border: var(--wheat-color);
    border-style: outset;
    border-block-width: 3px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px
}

.lhst_info_region_group_selected_land {
    vertical-align: bottom;
    text-align: left;
    border: var(--wheat-color);
    border-style: outset;
    border-block-width: 3px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: .5em
}

.lhst_range_map {
    vertical-align: bottom;
    margin-top: 413px;
    height: 100px
}

.lhst_tb_unit_recruit {
    width: 58px;
    height: 26.2px;
    margin-bottom: 3px;
    margin-left: 4px;
    background: radial-gradient(var(--add-color),black);
    color: var(--wheat-color);
    border-radius: 3px
}

.lhst_shadow_text {
    text-shadow: 1px 0 1px #000000,0 1px 1px #000000,-1px 0 1px #000000,0 0 1px #000000,0 -1px 1px #000
}

.lhst_map_region_icon_left_bar {
    display: inline-block;
    height: 100px
}

.lhst_info_region_icon_left_bar {
    height: 30px
}

.lhst_info_region_text {
    color: var(--wheat-color);
    margin-left: 5px
}

.lhst_info_region_value {
    display: inline-block;
    font-size: 20px;
    color: var(--wheat-color);
    margin-left: 10px
}

.lhst_left_side_bar_land_content {
    margin: 1.5em .5em .5em .5em !important;
    padding-top: 10px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid #333;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.lhst_selected_land_text_content {
    margin: 5px;
    text-align: center;
    word-wrap: break-word
}

.lhst_current_land_text_content {
    margin-bottom: 0;
    word-wrap: break-word
}

.lhst_selected_land_name {
    color: var(--wheat-color);
    height: 30px
}

.lhst_current_land_name {
    color: var(--wheat-color)
}

.lhst_map_region_icon_left_bar_col {
    padding: 0 !important
}

.lhst_tb_unit_recruit::-webkit-outer-spin-button, .lhst_tb_unit_recruit::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.lhst_independent_land_description {
    width: 250px;
    overflow-wrap: break-word
}

.lhst_independent_land_description_money_amount {
    color: var(--yellow-color);
    font-weight: 700
}

.lhst_independent_land_description_money_icon {
    height: 10px
}

.lhst_independent_land_description_divs {
    height: 302px;
    width: 282px;
    margin-top: 10px;
    padding: 15px;
    background-color: #333;
    border-radius: 7px;
    border-width: 2px;
    border-color: var(--wheat-color);
    color: var(--wheat-color)
}

.lhst_independent_land_description_image {
    border-radius: 7px;
    border-width: 2px;
    border-color: var(--wheat-color);
    margin-top: 10px
}

.lhst_independent_land_description_h2 {
    margin-bottom: 7px
}

.lhst_independent_land_description_divs_align {
    vertical-align: top
}

.lhst_found_country_label {
    margin-bottom: 0;
    font-size: 12px
}

.lhst_btn_found_state {
    background: radial-gradient(#f7f7c7,#6e6f61);
    color: #333;
    border-radius: 7px;
    border-width: medium;
    border-color: var(--wheat-color);
    width: 220px;
    height: 50px;
    font-size: revert;
    font-weight: 700;
    overflow-wrap: break-word
}

.lhst_mt_35 {
    margin-top: 35px
}

.lhst_color_picker {
    border-color: var(--wheat-color);
    color: var(--wheat-color)
}

lhst_marquee {
    display: inline-block;
    vertical-align: bottom
}

.lhst_marquee img {
    display: inline-block;
    height: 50px
}

.lhst_test {
    height: 25px;
    width: 150px;
    display: inline-block
}

.lhst_ml-65 {
    margin-left: 6.5rem !important
}

.lhst_ratingName_width {
    width: 100px
}

.lhst_background_image {
    background-image: url(../img/menu-icons/stone19.png);
    background-size: 50%
}

.lhst_cursor_pointer {
    cursor: pointer
}

.lhst_leftSideBar_country_name {
    font-family: 'Sitka Display','Arial',Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px
}

.lhst_leftSideBar_land_name {
    font-family: 'Sitka Display','Arial',Arial,sans-serif;
    font-size: 14px;
    font-weight: 200;
    margin-top: 5px
}

.lhst_clr-wheat {
    color: var(--wheat-color)
}

.lhst_clr-brown {
    color: #FF033E
}

.lhst_clr-money {
    color: var(--yellow-color)
}

.lhst_line {
    height: 1px;
    width: auto;
    margin-left: .5rem;
    margin-right: .5rem;
    background-color: var(--wheat-color)
}

.lhst_production_card {
    width: 250px;
    border-style: solid;
    border-width: 2px;
    border-color: #2b2b2b;
    background-image: url(../img/menu-icons/black-scratch-lines.png);
    background-size: 100%;
    border-radius: 6px;
    color: var(--wheat-color);
    padding: 1rem;
   
}


.lhst_btn_war_modal {
    align-content: end;
    background: radial-gradient(var(--add-color),black);
    color: var(--wheat-color);
    border-radius: 3px;
    width: 48px;
    margin-left: 3px;
    height: 26.2px;
    font-size: revert
}

.lhst_tb_war_modal {
    align-content: end;
    width: 48px;
    height: 26.2px;
    margin-bottom: 3px;
    margin-left: 4px;
    background: radial-gradient(var(--add-color),black);
    color: var(--wheat-color);
    border-radius: 3px
}

.lhst_font_size-smaller {
    font-size: smaller
}

.lhst_progressbar_div {
    width: 100px;
    color: red
}

.lhst_progressbar {
    border-radius: 5px
}

    .lhst_progressbar::-webkit-progress-bar {
        background-color: var(--wheat-color);
        box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;
        border-radius: 5px
    }

    .lhst_progressbar::-webkit-progress-value {
        background-image: -webkit-linear-gradient(-45deg,transparent 33%,rgba(0,0,0,.1) 33%,rgba(0,0,0,.1) 66%,transparent 66%),-webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(0,0,0,.25)),-webkit-linear-gradient(left,var(--yellow-color),var(--main-color));
        border-radius: 5px
    }

.lhst_unitRecruit_width {
    width: 126px
}

.lhst_default_button {
    background: radial-gradient(var(--add-color),black);
    color: var(--wheat-color);
    border-radius: 3px
}

    .lhst_default_button:hover {
        background: radial-gradient(var(--green-color) 0%,var(--main-color) 90%);
        color: var(--yellow-color);
        border-style: outset
    }

    .lhst_default_button:active {
        border-style: inset
    }

[data-title]:hover:after {
    opacity: 1;
    transition: all .1s ease .2s;
    visibility: visible
}

[data-title]:after {
    content: attr(data-title);
    background-color: var(--main-color);
    color: var(--yellow-color);
    font-size: 100%;
    position: absolute;
    padding: 2px 5px;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px var(--main-color);
    opacity: 0;
    border: 1px solid var(--yellow-color);
    border-radius: 2px;
    z-index: 99999;
    visibility: hidden
}

[data-title] {
    position: relative
}

.lhst_tooltip {
    position: relative;
    display: inline-flex;
    border-bottom: 1px var(--main-color);
    font-weight: 100;
    margin: -2px 0 0 2px;
    box-shadow: 0 0 3px rgba(56,54,54,0.86);
    text-align: justify;
    color: #f4ebdb
}

    .lhst_tooltip .lhst_tooltiptext {
        visibility: hidden;
        width: 220px;
        background-color: rgba(0,0,0,.9);
        color: #f4ebdb;
        text-align: center;
        border-radius: 6px;
        padding: 10px 20px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -110px;
        font-family: 'Comfortaa',cursive;
        text-align: justify
    }

        .lhst_tooltip .lhst_tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: rgba(0,0,0,.9) transparent transparent
        }

    .lhst_tooltip:hover .lhst_tooltiptext {
        visibility: visible;
        transition: all .5s ease
    }

.lhst_tooltip_production {
    position: relative;
    display: inline-flex;
    border-bottom: 1px var(--main-color);
    font-weight: 100;
    margin: -2px 0 0 2px;
    box-shadow: 0 0 3px rgba(56,54,54,0.86);
    text-align: justify;
    color: var(--wheat-color);
        font-family: 'Sitka Display','Arial',Arial,sans-serif;
}

    .lhst_tooltip_production .lhst_tooltiptext_production {
        visibility: hidden;
        width: 220px;
        background-color: rgba(0,0,0,.9);
        color: #f4ebdb;
        text-align: center;
        border-radius: 6px;
        padding: 10px 20px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -110px;
        font-family: 'Comfortaa',cursive;
        text-align: justify
    }

        .lhst_tooltip_production .lhst_tooltiptext_production::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: rgba(0,0,0,.9) transparent transparent
        }

    .lhst_tooltip_production:hover .lhst_tooltiptext_production {
        visibility: visible;
        transition: all .5s ease
    }

.lhst_cursor_help {
    cursor: help
}

.lhst_cursor_not_allowed {
    cursor: not-allowed
}

.lhst_cursor_cross {
    cursor: crosshair
}

.lhst_cursor_wait {
    cursor: wait
}

.lhst_cursor_progress {
    cursor: progress
}

.lhst_cursor_text {
    cursor: text
}

.lhst_cursor_move {
    cursor: move
}

.lhst_cursor_copy {
    cursor: copy
}

.lhst_brightness {
    filter: brightness(1.3)
}
