body {
    background-color: antiquewhite;
    background-size: 100%;
    /*min-width: 2400px !important;*/
    margin: 0px;
}

.header {
    border-bottom: 1px solid;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header-menu {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.header-menu.main-btn {
    background-image: url("../img/menu-icons/main-icon.png");
    background-size: 100%;
}

.header-menu.map-btn {
    background-image: url("../img/menu-icons/map-icon.png");
    background-size: 100%;
}

.header-menu.state-btn {
    background-image: url("../img/menu-icons/country-icon.png");
    background-size: 100%;
}

.nav-avatar-img {
    height: 70px;
    width: 70px;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: black !important;
    border-radius: 45px;
    vertical-align: top;
}

.player-overview-div-inline {
    display: inline;
}

.lhst_person-nav-container-inline {
    display: inline-block;
}

.lhst_person-div-overview-data {
    margin: 0px;    
}

.lhst_person-data-div-align {
    position:absolute;
    margin-left: 5px;
    margin-top: 10px;
}

.lhst_overview-player-name {
    color: brown;
    font-weight: 700;
}

ul.lhst_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align:central;
}

li.lhst_nav {
    float: left;
    margin-right: 10px;
}

li a.lhst_nav {
    padding: 0px;
    text-align: center;
    text-decoration: none;
    width: 75px;
    height: 75px;
    color: white!important;
    position: relative;
    display: table-cell;
    vertical-align: bottom;
}

li a.lhst_nav:hover {
    color: wheat!important;
}

.lhst_inline {
    display: inline-block;
}

.lhst_inline.lhst_nav {
    margin: 15px 130px 15px 15px;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.header {
    background-color: #333333;
}

.lhst_vertical-line {
    border-style: solid;
    border-width: 0px 0.5px 0px 0px;
    border-color: wheat;
    margin: 5px 0px;
}

.lhst_left-side-bar {
    background-color: #393939;
    width: 229px;
    min-width: 229px;
    position: fixed;
    height: 100%;
    margin-top: 115px;
}

.lhst_vertical-alignment-top {
    vertical-align: top;
}

.column {
    display: inline-block;
}

.lhst_coins-img {
    width: 17px;
    height: 17px;
}

.lhst_coins-text {
    vertical-align: top;
    color: wheat;
}

footer {
    background-color: #333333;
    border-top: 1px solid;
}

.lhst_footer-text {
    color: wheat;
    margin-left: 5px;
}

.lhst_privacy-btn {
    color: wheat;
}

.lhst_main-section {
    /*width: calc(100% - 221px);
    height: calc(100% - 144px);*/
    /*position: fixed;
    top: 120px;
    left: 235px;*/

    margin-left: 229px;
    margin-top: 115px;
}

.lhst_building_ext_card {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color:wheat;
    width: 130px;    
}

.lhst_main_data_image {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 120px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 4px;
}

.lhst_possessions_titles {
    margin: 3px;
    font-size: 16px;
    font-weight: bold;
    color: brown;
}

.lhst_card_properties {
    margin: 2px;
}

.lhst_building_card_left_part {
    width: 96px;
}

.lhst_btn_building_lvlup {
    margin-bottom: 3px;
    padding: 0px;
    width: 24px;
    height: 24px;
    background: radial-gradient(saddlebrown, black);
    color: antiquewhite;
    border-radius: 3px;
    font-weight: bold;
    font-size: revert;
}

.lhst_btn_building_lvlup:hover {
    background: radial-gradient(brown, black);
    color: wheat;
}

.lhst_btn_unit_recruit {
    background: radial-gradient(saddlebrown, black);
    color: antiquewhite;
    border-radius: 3px;
    width: 58px;
    height: 26.2px;
    font-size: revert;
}

.lhst_btn_unit_recruit:hover {
    background: radial-gradient(brown, black);
    color: wheat;
}

.lhst_tb_unit_recruit {
    width: 58px;
    height: 26.2px;
    margin-bottom: 3px;
    margin-left: 4px;
    background: radial-gradient(saddlebrown, black);
    color: antiquewhite;
    border-radius: 5px;
}

.lhst_shadow_text {
    text-shadow: 1px 0px 1px #000000, 0px 1px 1px #000000, -1px 0px 1px #000000, 0px 0px 1px #000000, 0px -1px 1px #000000;
}

.lhst_money {
    margin-top: 6px;
    font-size: 14px;
    font-weight: normal;
}

.lhst_map_region_icon_left_bar {
    height: 120px;
}

.lhst_left_side_bar_land_content {
    margin: 5px !important;
}

.lhst_selected_land_text_content {
    margin: 5px;
    vertical-align: top;
    word-wrap: break-word;
}

.lhst_selected_land_name {
    color: wheat;
}

.lhst_map_region_icon_left_bar_col {
    padding: 0px !important;
}

.lhst_main_section_padding {
    padding-left: 10px;
    padding-top: 5px;
}
