:root {
    /*--main-color: #232323;*/
    --main-color: #FFEBCD;
    --add-color: #393939;
    --green-color: #2d9062;
    --yellow-color: #faaf08;
    --wheat-color: #FFEBCD
}

.lhst_modal_land {
    background-image: url(../img/menu-icons/black-scratch-lines.png);
    background-size: 100%;
    color: var(--wheat-color)
}

.lhst_land_coat_of_arms_image {
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-color);
    border-radius: 10px;
    height: 150px;
    width: 150px;
    display: inline-block;
    overflow: hidden
}

.lhst_dialog_land {
    left: 0;
    right: 0;
    margin: 20vh auto;
    border: solid;
    padding: 1em;
    background-image: url(../img/menu-icons/black-scratch-lines.png);
    background-size: 100%;
    color: var(--wheat-color);
    width: 500px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1051;
    overflow: hidden;
    outline: 0;
    height: auto !important
}

.lhst_dialog_land::backdrop {
    background: rgba(0,0,0,0.5)
}

.lhst_land_attribute {
    width: 100px;
    margin-bottom: 0px;
}

.lhst_land_attribute_value {
    width: 100px;
    margin-bottom: 0px;
}
