:root {
    --main-color: #232323;
    --add-color: #393939;
    --green-color: #2d9062;
    --yellow-color: #faaf08;
    --wheat-color: #FFEBCD;
}

.lhst_modal_profile {
    /*height: 400px;*/
    /*    width: 270px;*/
    background-image: url("../img/menu-icons/black-scratch-lines.png");
    background-size: 100%;
/*    background-color: var(--main-color);*/
    border-radius: 20px;
    border-width: 2px;
    border-color: var(--wheat-color);
    color: var(--wheat-color)
}

.lhst_avatar_profile_image {
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-color);
    border-radius: 10px;
    height: 150px;
    width: 150px;
    display: inline-block;
    overflow: hidden
}

.lhst_main_info_profile{
    width: 300px;
}

.lhst_profile-small-ints {
    width: 20px;
    text-align: center;
}

.lhst_profile_rating_img{
    height: 20px;
}

.lhst_region_profile {
    display: inline-block;
    height: 130px
}

.lhst_dialog_profile {
    left: 0;
    right: 0;
    margin: 20vh auto;
    border: solid;
    padding: 1em;
    background-image: url("../img/menu-icons/black-scratch-lines.png");
    background-size: 100%;
/*    background: var(--main-color);*/
    color: var(--wheat-color);
    width: 500px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1051;
    overflow: hidden;
    outline: 0;
    height: auto !important
}

.lhst_dialog_profile::backdrop {
    background: rgba(0,0,0,0.5)
}

.lhst_dialog_profile_player_description {
    font-weight: lighter;
}

