:root {
    /*--main-color: #232323;*/
    --main-color: #FFEBCD;
    --add-color: #393939;
    --green-color: #2d9062;
    --yellow-color: #faaf08;
    --wheat-color: #FFEBCD
}

.lhst_rating-img {
    width: 32px
}

.lhst_rating-right-border {
    border-width: 1px;
    border-color: var(--wheat-color);
    border-right: dotted
}

.lhst_rating-small-ints {
    width: 40px;
    text-align: center
}

.lhst_rating-input {
    width: 100px;
    height: 25px;
    margin-bottom: 3px;
    background: radial-gradient(var(--add-color),black);
    color: var(--wheat-color);
    border-radius: 3px
}

.lhst_rating_loupe {
    width: 25px;
    height: 25px;
    border-width: 0px;
}

    .lhst_rating_loupe:hover {
        box-shadow: 0 0 5px rgba(255, 223, 150, 0.8), 0 0 10px rgba(255, 200, 100, 0.5);
    }

    .lhst_rating_loupe:active {
        transform: scale(0.95); /* Небольшое уменьшение размера при нажатии */
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Тень, создающая ощущение вдавливания */
    }
