.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #393939
}

.tab button {
    background: radial-gradient(#393939,black);
    transition: .3s;
    color: #f4ebdb;
    border-radius: 5px;
    font-family: 'Sitka Display', 'Arial', Arial, sans-serif;
    line-height: 1.2;
}

.tab button:hover {
    background: radial-gradient(#2d9062,black);
    color: #faaf08
}

.tab button.active {
    background: radial-gradient(#2d9062,black);
    color: #faaf08
}

.tabcontent {
    display: none
}

.lhst_tabs_div {

    text-align: center;
    width: 333px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #232323;
    border-radius: 20px;
    color: #f5deb3;
    padding: 5px
}

.lhst_inTab {
    text-align: left;
    /*max-height: 500px;*/
    height: calc(100vh - 315px);
    background-color: #232323;
    color: #f5deb3 #4c473d
}

.lhst_tabs_line {
    height: 1px;
    
}

.lhst_tabs_line-bg-clr-wheat {
    background-color: #f5deb3
}

.lhst_tabs_line-bg-clr-gray {
    background-color: #4c473d
}


