:root {
    /* --main-color: #232323;*/
    --main-color: #FFEBCD;
    --add-color: #393939;
    --green-color: #2d9062;
    --yellow-color: #faaf08;
    --wheat-color: #FFEBCD;
    --pattern: url(../img/menu-icons/black-scratch-lines.png);
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: var(--add-color)
}

    .tab button {
        background: radial-gradient(var(--add-color),black);
        transition: .3s;
        color: #f4ebdb;
        border-radius: 5px;
        font-family: 'Sitka Display','Arial',Arial,sans-serif;
        line-height: 1.2
    }

        .tab button:hover {
            background: radial-gradient(var(--green-color),black);
            color: var(--yellow-color);
            border-style: outset
        }

        .tab button:active {
            background: radial-gradient(var(--green-color),black);
            color: var(--yellow-color);
            border-style: inset
        }

.tabcontent {
    display: none
}

.lhst_tabs_div {
    text-align: center;
    width: 333px;
    margin-top: 10px;
    margin-left: 10px;
    background-image: var(--pattern);
    background-size: 40%;
    border-radius: 20px;
    color: var(--wheat-color);
    padding: 5px
}

.lhst_inTab {
    text-align: left;
    height: calc(100vh - 315px);
    background-image: var(--pattern);
    background-size: 50%;
    color: var(--wheat-color) #4c473d
}

.lhst_tabs_line {
    height: 1px
}

.lhst_tabs_line-bg-clr-wheat {
    background-color: var(--wheat-color)
}

.lhst_tabs_line-bg-clr-gray {
    background-color: #4c473d
}
