/* Стиль вкладки */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #393939;
}

/* Стиль кнопок, которые используются для открытия содержимого вкладки */
.tab button {
    background: radial-gradient(#393939, black);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: antiquewhite;
    border-radius: 10px;
    font-weight: bold;
    font-size: revert;
}

/* Изменение цвета фона кнопок при наведении курсора */
.tab button:hover {
    background: radial-gradient(#3939, black);
    color: #ffd700;
}

/* Создание активного/текущего класса связи вкладки */
.tab button.active {
    background: radial-gradient(#3939, black);
    color: #ffd700;
}

/* Стиль содержимого вкладки */
.tabcontent {
    display: none;
   
   /* padding: 60px 12px;
    border: 1px solid #ccc;
    border-top: none;*/
}

.lhst_tabs_div {
    text-align: center;
    width: 323px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #232323;
    border-radius: 20px;
    color: wheat;
    padding: 5px;
}

.lhst_inTab {
    text-align: left;
    height: 500px;
    
    background-color: #232323;
    border-radius: 20px;
    color: wheat;
}

.lhst_tabs_line {
    width:300px;
    height: 1px;
    background-color: wheat;
}

