@model List<MiddleAges.Entities.Unit>

<p class="lhst_possessions_titles">Units</p>

@for (int i = 0; i < Model.Count(); i++)
{
<div class="lhst_building_ext_card lhst_inline">
    <div class="lhst_main_data_image">
        <img src="../img/units/@(Model[i].Type).png" width="117" height="117" class="myImg" alt="" />
    </div>

    @{
        var unitName = CommonLogic.getUnitNameByType(Model[i].Type);
    }

    <div >
        <div>
            <p class="lhst_card_properties">@unitName</p>
            <p class="lhst_card_properties">Count: @Model[i].Count</p>
        </div>

        <div>
            <form asp-controller="Unit" asp-action="Recruit" asp-route-unitId="@Model[i].UnitId">
                <input name="count" class="lhst_tb_unit_recruit" type="number" value="1"/>
                <input type="submit" class="lhst_btn_unit_recruit" value="Recruit" />
            </form>
        </div>
    </div>
</div>
}
