@model List<MiddleAges.Entities.Unit>

<p class="lhst_possessions_titles">Units</p>

@for (int i = 0; i < Model.Count(); i++)
{
    <div class="lhst_building_ext_card lhst_inline">
        <div class="lhst_building_image">
            <img src="../img/units/@(Model[i].Type).png" width="120" height="120" class="myImg" alt="" />
        </div>

        @{
            var unitName = CommonLogic.getUnitNameByType(Model[i].Type);
        }

        <div>
            <p class="lhst_card_properties">@unitName</p>
            <p class="lhst_card_properties">Count: @Model[i].Count</p>
        </div>
    </div>
}
