@model MiddleAges.Entities.Player

@{
    ViewData["Title"] = "middle ages";
}

<div class="d-flex">
    <div class="lhst_left-side-bar lhst_vertical-alignment-top">

    </div>

    <div class="lhst_vertical-alignment-top lhst_main-section lhst_main_section_padding">
        <p>State founded</p>
    </div>
</div>
