@model MiddleAges.Entities.Player

@{
    ViewData["Title"] = "middle ages";    
}

<div class="d-flex">
    <div class="lhst_left-side-bar lhst_vertical-alignment-top">

    </div>

    <div class="lhst_vertical-alignment-top lhst_main-section lhst_main_section_padding">
        <p>State not founded</p>

        <label for="countrycolor">Select color for the country:</label>
        <input type="color" id="countrycolor" name="countrycolor" value="#ff0000">
    </div>
</div>
