@using MiddleAges.Entities;
@model List<MiddleAges.Entities.ChatMessage>;

<div class="lhst_chat_but_marg d-inline-flex">
    <button id="showChatBtn" onclick="showPopup()" class="lhst_but_open_chat lhst_btn_unit_recruit align-bottom lhst_nav lhst_display_grid">&#8743; &emsp; &#8743;</button>
    <button id="hideChatBtn" onclick="hidePopup()" class="lhst_but_open_chat lhst_btn_unit_recruit align-bottom lhst_nav lhst_display_grid">&#8744; &emsp; &#8744;</button>
    <div id="okno" class="lhst_chat_div float-right align-bottom lhst_nav lhst_display_grid">
        <div class="lhst_chat_height lhst_slider">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="align-items-center text-left!important d-inline-flex ">
                    <div class="lhst_scale">
                        <img class="lhst_country_history_img lhst_cursor_pointer" onclick="showPlayerInfoDialog()" id="country_history_img" height="32" src="~/img/avatars/@(Model[i].Player.ImageURL).webp" alt="" loading="lazy">
                    </div>
                    <div class="lhst_display_grid float-left">
                        <p id="showPlayerInfo" onclick="showPlayerInfoDialog()" class="animation-text lhst_country_history_text text-left lhst_username_text lhst_cursor_pointer">@Model[i].Player.UserName</p>
                        <p class="lhst_country_history_text text-left lhst_chat_text">@Model[i].MessageValue</p>
                    </div>
                    <time class="mr-2" datetime="T09:54">@Model[i].PublishingDateTime</time>
                </div>
                <div class="lhst_chat_line mb-1">
                </div>
            }
        </div>
        <div>
            <form id="chatForm" name="chatForm" asp-controller="Chat" asp-action="AddChatMessage">
                <input id="messageValue" name="messageValue" type="text" maxlength="50" class="lhst_chat_input" placeholder="Message" rows="2" minlength="1" required/>
                <input class="lhst_button_input" type="submit" id="submitChat" name="submitChat" value="&#10148;" />
               
            </form>
        </div>
    </div>
    <script src="~/js/chatLength.js"></script>
    <script src="~/js/showChat.js"></script>
</div>

<div class="lhst_dialog_profile modal" id="playerInfoDialog">
    <form asp-controller="Player" >
        <section>
            <div class="d-flex lhst_modal_profile">
                <div class="mr-3">
                    <img id="avatar_selected_img" class="lhst_avatar_profile_image" src="~/img/avatars/1.webp" alt="" loading="lazy" />
                </div>
                <div class="mr-5 lhst_main_info_profile">
                    <p class="lhst_country_king_size mb-0">Konskiy Voin</p>
                    <p class="lhst_chat_text mb-0">Status of player</p>
                    <p id="curlvl" class="lhst_coins-text ml-1 mb-0">Level: 11</p>
                    <progress class="lhst_progressbar" value="55" max="100">
                    </progress>
                    <div class="d-flex">
                        <div class="lhst_rating-small-ints">
                            <p class="mb-0 mt-2 ">#</p>
                        </div>
                        <div class="lhst_profile-small-ints mr-2">
                            <img class="lhst_profile_rating_img " src="~/img/rating-icons/exp.png" alt="" title="Experience" loading="lazy" />
                        </div>
                        <div class="lhst_profile-small-ints mr-2">
                            <img class="lhst_profile_rating_img " src="~/img/rating-icons/money.png" alt="" title="Money" loading="lazy" />
                        </div>
                        <div class="lhst_profile-small-ints">
                            <img class="lhst_profile_rating_img " src="~/img/rating-icons/power.png" alt="" title="War Power" loading="lazy" />
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="lhst_rating-small-ints">
                            <p class="mb-0 mt-2 ">1</p>
                        </div>
                        <div class="lhst_profile-small-ints mr-2">
                            <p class="mb-0 mt-2 ">1</p>
                        </div>
                        <div class="lhst_profile-small-ints mr-2">
                            <p class="mb-0 mt-2 ">1</p>
                        </div>
                        <div class="lhst_profile-small-ints">
                            <p class="mb-0 mt-2 ">1</p>
                        </div>
                    </div>
                </div>
                <div class="text-right ml-3">
                    <button class="lhst_btn_dialog_cancel" onclick="hidePlayerInfoDialog()">x</button>
                </div>
            </div>
            <div class="d-flex">
                <div>
                    <div>
                        <div class="col lhst_map_region_icon_left_bar_col">
                            <img id="selected_land_coat_of_arms" src="../img/map-regions-icons-middle-ages/Hrodna.png" class="lhst_region_profile" alt="map region coat of arms" loading="lazy" />
                        </div>
                        <div class="col lhst_current_land_text_content lhst_map_region_icon_left_bar_col">
                            <p id="selected_country_name" class="lhst_current_land_name mb-0 lhst_leftSideBar_country_name">Avalonium</p>
                            <p id="selected_land_name" class="lhst_current_land_name lhst_leftSideBar_land_name">Hrodna</p>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <img src="../img/default-icon/farmer.png" class="lhst_info_region_icon_left_bar float-left ml-2" title="Population" alt="" loading="lazy" />
                            <p id="population" class="float-left mt-2 mb-0 lhst_clr-wheat" title="Population">564</p>
                        </div>
                    </div>
                </div>
                <div class="ml-2 mt-2">
                    <div>
                        <p class="w-100 flex-wrap mb-2 font-weight-normal">This is a description of my profile. I am a scoof and i need some beer, pleeease.</p>
                    </div>
                    <div>
                        <div class="lhst_scale d-flex">
                            <img class="align-self-center mr-3 lhst_share_img" src="~/img/interface-icons/vk.png" loading="lazy" alt="vk" title="vk" />
                            <p class="font-weight-normal">https://vk.com/glandeil</p>
                        </div>
                        <div class="lhst_scale d-flex">
                            <img class="align-self-center mr-3 lhst_share_img" src="~/img/interface-icons/telegram.png" loading="lazy" alt="telegram" title="telegram" />
                            <p class="font-weight-normal">#greendend</p>
                        </div>
                        <div class="lhst_scale d-flex">
                            <img class="align-self-center mr-3 lhst_share_img" src="~/img/interface-icons/discord.png" loading="lazy" alt="discord" title="discord" />
                            <p class="font-weight-normal">Adelium</p>
                        </div>
                        <div class="lhst_scale d-flex">
                            <img class="align-self-center mr-3 lhst_share_img" src="~/img/interface-icons/facebook.png" loading="lazy" alt="facebook" title="facebook" />
                            <p class="font-weight-normal">SavelyNoLatun</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
    </form>
</div>

