@using MiddleAges.Entities;
@model List<MiddleAges.Entities.ChatMessage>

<div class="lhst_chat_but_marg d-inline-flex">
    <button id="showChatBtn" onclick="showPopup()" class="lhst_but_open_chat lhst_btn_unit_recruit align-bottom lhst_nav lhst_display_grid">&#8743; &emsp; &#8743;</button>
    <button id="hideChatBtn" onclick="hidePopup()" class="lhst_but_open_chat lhst_btn_unit_recruit align-bottom lhst_nav lhst_display_grid">&#8744; &emsp; &#8744;</button>
    <div id="okno" class="lhst_chat_div float-right align-bottom lhst_nav lhst_display_grid">
        <div class="lhst_chat_height lhst_slider">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="align-items-center text-left!important d-inline-flex">
                    <img class="lhst_country_history_img" id="country_history_img" height="32" src="~/img/avatars/@(Model[i].Player.ImageURL).webp" alt="" loading="lazy">
                    <div class="lhst_display_grid float-left">
                        <p class="lhst_country_history_text text-left lhst_username_text">@Model[i].Player.UserName</p>
                        <p class="lhst_country_history_text text-left lhst_chat_text" >@Model[i].MessageValue</p>
                    </div>
                    <time class="mr-2" datetime="T09:54">@Model[i].PublishingDateTime</time>
                </div>
                <div class="lhst_chat_line mb-1">
                </div>
            }
        </div>
        <div>
            <form id="chatForm" name="chatForm" asp-controller="Chat" asp-action="AddChatMessage">
                <input id="messageValue" name="messageValue" type="text" maxlength="50" class="lhst_chat_input" placeholder="Message" rows="2" minlength="1" required/>
                <input class="lhst_button_input" type="submit" id="submitChat" name="submitChat" value="&#10148;" />
               
            </form>
        </div>
    </div>
    <script src="~/js/chatLength.js"></script>
</div>


