@model MiddleAges.Entities.Player

<div class="m-2 row ">
    <div class="nav-avatar-img-placeholder col-md-6">
        <img class="nav-avatar-img" src="~/img/default-icon/default-icon-001.png" />
    </div>    

    <div class="col-md-6">
        <p>@Model.Name</p>
        <p>@Model.Money</p>
    </div>    
</div>