@model MiddleAges.Entities.Player

<div class="m-2">
    <div class="lhst_person-nav-container-inline" >
        <img id="player_avatar" class="nav-avatar-img" src="~/img/avatars/@(Model.ImageURL).jfif" alt="" />
    </div>    

    <div class="lhst_person-nav-container-inline lhst_person-data-div-align">
            <div class="lhst_person-div-overview-data mb-1 lhst_overview-player-name">
                <h2>@Model.UserName</h2>                
            </div>
            <div>
                <div class="lhst_inline">
                    <img class="lhst_coins-img" src="~/img/interface-icons/coins.png" />
                </div>
                <div class="lhst_inline lhst_person_div_overview_data lhst_coins-text">
                    <h2 class="lhst_money">@Model.Money</h2>
                </div>
            </div>
    </div>    
</div>