@model MiddleAges.Entities.Player

<div class="m-2">
    <div class="lhst_person-nav-container-inline">
        <img class="nav-avatar-img" src="~/img/default-icon/default-icon-001.png" />
    </div>    

    <div class="lhst_person-nav-container-inline lhst_person-data-div-align">
            <div class="lhst_person-div-overview-data mb-1 lhst_overview-player-name">@Model.Name</div>
            <div>
                <div class="lhst_inline">
                    <img class="lhst_coins-img" src="~/img/interface-icons/coins.png" />
                </div>
                <div class="lhst_inline lhst_person_div_overview_data lhst_coins-text">@Model.Money</div>
            </div>
    </div>    
</div>