<div class="d-flex">
    <div class="lhst_left-side-bar lhst_vertical-alignment-top">
        <div class="lhst_left_side_bar_land_content row justify-content-md-center">
            <form asp-controller="Admin" asp-action="CreateInitialLandBuildings">
                <button type="submit" class="lhst_settings_button">
                    <p class="w-100 flex-wrap mb-1 font-weight-normal">Create initial land buildings</p>
                </button>
            </form>
            <form asp-controller="Admin" asp-action="ClearDatabase">
                <button type="submit" class="lhst_settings_button">
                    <p class="w-100 flex-wrap mb-1 font-weight-normal">Clear database</p>
                </button>
            </form>
        </div>
    </div>

    <div class="lhst_vertical-alignment-top lhst_main-section_mainmenu lhst_main_section_padding">
        <div class="float-left mr-3">
            <div>
                <p>Hello Admin</p>
            </div>
        </div>
    </div>
</div>