@model MiddleAges.Entities.Player
@using MiddleAges.ViewComponents

@{
    ViewData["Title"] = "Home Page";
}

<div>
    
    <div>
        @await Component.InvokeAsync(typeof(BuildingsViewComponent))
    </div>
</div>
