@model MiddleAges.Entities.Player

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (Model.Name == "Savely")
    {
        <p>Player name: @Model.Name</p>
    }

    @if (Model.Name == "Alexey")
    {
        <p>Player name: @Model.Name</p>
    }

    <p>@Model.PlayerId</p>

</div>
