@page
@{
    ViewData["Title"] = "Grand Duchy";
}
<body class="auth_background">
    <div class="auth_text_color text-center lhst_slider auth_max_height">
        <div class="d-inline-block text-center mt-5">
            <div class="text-center">
                <p class="auth_text_font ml-3">@ViewData["Title"]</p>
                <div class="mb-3">
                    <img class="auth_height" src="~/img/interface-icons/main-coat-of-arms.png" alt="" loading="lazy" />
                    <br />
                    <img class="auth_height mt-3 mb-3" src="~/img/PressF.webp" alt="" loading="lazy" />
                    <br />
                    <p>
                        <a class="auth_text_font_a" asp-page="/Account/Register">Start from the beginning</a>
                    </p>
                </div>
            </div>
        </div>
       
    </div>
</body>