@page
@model RegisterModel
@{
    ViewData["Title"] = "Grand Duchy";
}

<body class="auth_background ">

    <div class="auth_text_color text-center lhst_slider auth_max_height">
       
        <div class="d-inline-block text-center mt-5 ">
            <div>
                <p class="auth_text_font ml-3 mt-5">@ViewData["Title"]</p>
                <div class="mb-5">
                    <img class="auth_width_img auth_height" src="~/img/interface-icons/main-coat-of-arms.png" alt="" />
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 mt-5">
                            <p >
                                Middle Ages - первый проект, разработанный компанией lhstcorp. Это средневековая игра в жанре стратегии, которая позволит попасть в Беларусь тех времен. Сражения за земли с другими игроками, организация восстаний, правление собственным государством - всё это вы сможете опробовать в данной игре. MIDDLE AGES - стань легендой средневековья!
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-4">
                    
                            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="text-center">
                                <h4 class="auth_text_font_login text-center">Create a new account</h4>
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group  text-center " tabindex="0" >
                                    <input asp-for="Input.Email" class="auth_form-control " placeholder="EMAIL" type="email" autofocus autocomplete="on" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group  text-center " tabindex="1">
                                    <input asp-for="Input.UserName" class="auth_form-control " placeholder="USERNAME" maxlength="10"/>
                                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group  text-center password" tabindex="2">
                                    <input asp-for="Input.Password" id="password-input" class="auth_form-control " placeholder="PASSWORD" type="password" />
                                    <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group  text-center password" tabindex="3">
                                    <input asp-for="Input.ConfirmPassword" id="password-input-confirm" class="auth_form-control " placeholder="CONFIRM PASSWORD" type="password" />
                                    <a href="#" class="password-control" onclick="return show_hide_password_confirm(this);"></a>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group  text-center " tabindex="4">
                                    <button type="submit" class="btn auth_btn auth_text_font_but ">CREATE ACCOUNT</button>
                                </div>
                                <hr />
                                <div class="form-group d-inline-flex auth_div_width">
                                    <p class="w-50 ">
                                        <a asp-page="./Login" class="auth_text_font_a " asp-route-returnUrl="@Model.ReturnUrl">Login</a>
                                    </p>
                                    <p class="w-50 ">
                                        <a id="forgot-password" class="auth_text_font_a " asp-page="./ForgotPassword">Forgot your password?</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="row d-inline-flex">
                                <div class="col-6 lhst_scale">
                                    <img class="auth_height_side lhst_cursor_pointer" src="~/img/menu-icons/main_menu.jpg" alt="" loading="lazy" data-title="main_menu" onclick="openMainMenuScreensDialog()" />
                                    <img class="auth_height_side lhst_cursor_pointer" src="~/img/menu-icons/map_menu.jpg" alt="" loading="lazy" data-title="map_menu" onclick="openMapMenuScreensDialog()" />
                                </div>
                                <div class="col-6 lhst_scale">
                                    <img class="auth_height_side lhst_cursor_pointer" src="~/img/menu-icons/country_menu.jpg" alt="" loading="lazy" data-title="country_menu" onclick="openCountryMenuScreensDialog()" />
                                    <img class="auth_height_side lhst_cursor_pointer" src="~/img/menu-icons/wars_menu.jpg" alt="" loading="lazy" data-title="wars_menu" onclick="openWarsMenuScreensDialog()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="~/js/register.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/country_page_actions.js"></script>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="lhst_dialog_screens modal" id="mainMenuScreensDialog">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideMainMenuScreensDialog()">x</button>
    </div>
    <div class="text-center pl-0">
        <img class="screen_height" src="~/img/menu-icons/main_menu.jpg" alt="" loading="lazy" data-title="main_menu" />
    </div>

</div>
<div class="lhst_dialog_screens modal" id="mapMenuScreensDialog">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideMapMenuScreensDialog()">x</button>
    </div>
    <div class="text-center pl-0">
        <img class="screen_height" src="~/img/menu-icons/map_menu.jpg" alt="" loading="lazy" data-title="map_menu" />
    </div>

</div>
<div class="lhst_dialog_screens modal" id="countryMenuScreensDialog">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideCountryMenuScreensDialog()">x</button>
    </div>
    <div class="text-center pl-0">
        <img class="screen_height" src="~/img/menu-icons/country_menu.jpg" alt="" loading="lazy" data-title="country_menu" />
    </div>

</div>
<div class="lhst_dialog_screens modal" id="warsMenuScreensDialog">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideWarsMenuScreensDialog()">x</button>
    </div>
    <div class="text-center pl-0">
        <img class="screen_height" src="~/img/menu-icons/wars_menu.jpg" alt="" loading="lazy" data-title="wars_menu" />
    </div>

</div>
