@page
@model RegisterModel
@{
    ViewData["Title"] = "MIDDLE AGES";
}

<body class="auth_background">

    <div class="auth_text_color text-center ">
       
        <div class="d-inline-block auth_width text-center mt-5">
            <p class="auth_text_font ml-3">@ViewData["Title"]</p>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="text-center">
                <h4 class="auth_text_font_login text-center">Create a new account</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group w-50 text-center d-inline-flex">
                    <input asp-for="Input.Email" class="auth_form-control " placeholder="EMAIL" type="email"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group w-50 text-center d-inline-flex">
                    <input asp-for="Input.UserName" class="auth_form-control " placeholder="USERNAME" maxlength="10"/>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group w-50 text-center d-inline-flex">
                    <input asp-for="Input.Password" class="auth_form-control " placeholder="PASSWORD" type="password"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group w-50 text-center d-inline-flex">
                    <input asp-for="Input.ConfirmPassword" class="auth_form-control " placeholder="CONFIRM PASSWORD" type="password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group w-50 text-center d-inline-flex">
                    <button type="submit" class="btn auth_btn auth_text_font_but ">SIGN UP</button>
                </div>
                <hr />
                <div class="form-group d-inline-flex auth_div_width">
                    <p class="auth_text_font_text  w-100">Already have an account?</p>
                    <p class="w-100 ">
                        <a asp-page="./Login" class="auth_text_font_a " asp-route-returnUrl="@Model.ReturnUrl">Sign In</a>
                    </p>
                </div>
                <br />
                <div class="form-group d-inline-flex auth_div_width">
                    <p class="w-50">
                        <a id="forgot-password" class="auth_text_font_a " asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    @* <p class="w-50">
                    <a id="resend-confirmation" class="auth_text_font_a" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p> *@
                </div>
            </form>
        </div>
        <div class="lhst_vertical-alignment-top float-right text-right">
            <img class="float-right text-right auth_width_img auth_height" src="~/img/interface-icons/register.jpg" alt=""/>
        </div>
    </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
