@model MiddleAges.Entities.Player
@using MiddleAges.ViewComponents

@{
    ViewData["Title"] = "middle ages";    
}

<div class="d-flex">
    <div class="lhst_avatar_left-side-bar lhst_avatar_vertical-alignment-top ">

    </div>
    <div class="lhst_vertical-alignment-top lhst_main-section lhst_avatar_inline ">

        <div class="lhst_avatar_inline lhst_avatar_image_div lhst_avatar_independent_land_description_divs_align">
            <div class="lhst_avatar_main_image">
                <img id="avatar_selected_img" src="~/img/avatars/@(Model.ImageURL).jfif" width="250" height="250" alt="" />
            </div>
            <form asp-controller="Settings" asp-action="UpdateAvatar" asp-route-selectedImageId="@Model.ImageURL">

                @*<input type="checkbox" class="lhst_checkbox_gender" id="check-male">
                    <label for="check-male" class="lhst_possessions_titles">Male</label>
                    <input type="checkbox" class="lhst_checkbox_gender" id="check-female">
                    <label for="check-female" class="lhst_possessions_titles">Female</label>*@
                
            </form>

            <input id="update_avatar_btn" type="submit" class="lhst_btn_avatar_confirm" value="Confirm"/>
        </div>

        <div class="lhst_avatar_inline lhst_avatar_independent_land_description_divs lhst_avatar_independent_land_description_divs_align lhst_slider ">
            @for (int i = 1; i < 27; i++)
            {
                <div class="lhst_avatar_main_data_image lhst_scale">
                    <img id="@i" src="../img/avatars/@(i).jfif" width="120" height="120" class="lhst_small_avatar_image_selection" alt="" />
                </div>

                if (i % 4 == 0)
                {
                    <br />
                }
            }
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/select_avatar_img_by_click.js"></script>
    <script src="~/js/update_avatar_img_by_click.js"></script>
</div>
