@model MiddleAges.Entities.Player
@using MiddleAges.ViewComponents

@{
    ViewData["Title"] = "middle ages";    
}

<div class="d-flex">
    <div class="lhst_left-side-bar lhst_vertical-alignment-top">

    </div>

    <div class="lhst_vertical-alignment-top lhst_main-section lhst_main_section_padding">
        <marquee direction="right" scrollamount="12" class="lhst_marquee">
            <img id="foot_marquee" src="../img/menu-icons/knight_run.gif" />
        </marquee>
    </div>
</div>
