@model MiddleAges.ViewModels.SettingsViewModel

@{
    ViewData["Title"] = "middle ages";    
}

<div class="d-flex">
    <div class="lhst_avatar_left-side-bar lhst_avatar_vertical-alignment-top lhst_desktop"></div>

    <div class="d-block lhst_main-section">
        <div class="lhst_vertical-alignment-top lhst_avatar_inline">
            <div class="lhst_avatar_inline lhst_avatar_image_div lhst_avatar_divs_align lhst_slider_small_screen">
                <div>
                    <img id="avatar_selected_img" class="lhst_avatar_main_image" src="~/img/avatars/@(Model.Player.ImageURL)" alt="" loading="lazy" />
                </div>
@*                 <p class="lhst_country_king_size mt-3">@Model.Player.UserName</p> *@
                @* <input id="update_avatar_btn" type="submit" class="custom-file-upload mt-2 mb-2" value="Confirm" /> *@
                <button id="update_avatar_btn" type="submit" class="lhst_settings_button mt-2 mb-2">
                    <p class="w-100 flex-wrap mb-1 font-weight-normal">Confirm</p>
                </button>
                <form method="post" enctype="multipart/form-data" action="/Settings/UploadAvatar">
                    <div class="form-group mb-0">
                        <label class="lhst_labelFile_size mb-0" for="avatarFile">Load custom avatar</label>
                        <br>
                        <input type="file" id="avatarFile" name="avatarFile" accept="image/*" onchange="validateCustomAvatarFile()" class="lhst_form-control mt-2 mb-2" required />
                        <label for="avatarFile" class="lhst_settings_button lhst_cursor_pointer">
                            Choose image
                        </label>
                        
                    </div>

                    <button id="uploadCustomAvatarBtn" type="submit" class="mt-0 pt-1 lhst_settings_button">
                        <p class="w-100 flex-wrap mb-1 font-weight-normal">Upload Avatar (<img class="lhst_independent_land_description_money_icon" loading="lazy" src="~/img/interface-icons/coins.png" /> <span class="lhst_clr-brown"> -300</span>)</p>
                    </button>
                    <div id="fileInfo" class="file-info"></div>
                    <p id="fileError" style="color:red; display:none;">Максимальный размер 512 KB. Допустимые форматы: jpg, jpeg, png, webp</p>
                </form>
            </div>
            <div class="lhst_avatar_inline lhst_avatar_selection_div lhst_avatar_divs_align lhst_slider ml-1">
                @for (int i = 1; i < 48; i++)
                {
                    <div class="lhst_avatar_main_data_image_div lhst_scale">
                        <img id="@i" src="../img/avatars/@(i).webp" loading="lazy" class="lhst_small_avatar_image_selection lhst_avatar_main_data_image" alt="" />
                    </div>
                }
            </div>
        </div>
        <br>
        <div class="lhst_vertical-alignment-top lhst_info-section lhst_avatar_inline mt-2">
            <div class="lhst_avatar_info_div lhst_slider">
                <div id="contactInfo">
                    <div class="mr-2">
                        <p class="lhst_country_king_size mb-0">Contact Information</p>
                        <div>
                            <div class="lhst_scale d-flex">
                                <img id="vkLink" class="align-self-center mr-1 mt-1 lhst_share_img lhst_cursor_pointer" src="~/img/interface-icons/vk1.png" loading="lazy" alt="vk" data-title="vk" />
                                <input id="vk" class="lhst_input_info_share mt-1" type="text" placeholder="VK ID" maxlength="50" value=@Model.PlayerInformation.Vk />
                            </div>
                            <div class="lhst_scale d-flex">
                                <img id="tgLink" class="align-self-center mr-1 mt-1 lhst_share_img lhst_cursor_pointer" src="~/img/interface-icons/telegram1.png" loading="lazy" alt="telegram" data-title="telegram" />
                                <input id="tg" class="lhst_input_info_share mt-1" type="text" placeholder="Telegram nickname" maxlength="50" value=@Model.PlayerInformation.Telegram />
                            </div>
                            <div class="lhst_scale d-flex">
                                <img id="dsLink" class="align-self-center mr-1 mt-1 lhst_share_img lhst_cursor_pointer" src="~/img/interface-icons/discord1.png" loading="lazy" alt="discord" data-title="discord" />
                                <input id="ds" class="lhst_input_info_share mt-1" type="text" placeholder="Discord nickname" maxlength="50" value=@Model.PlayerInformation.Discord />
                            </div>
                            <div class="lhst_scale d-flex">
                                <img id="fbLink" class="align-self-center mr-1 mt-1 lhst_share_img lhst_cursor_pointer" src="~/img/interface-icons/facebook1.png" loading="lazy" alt="facebook" data-title="facebook" />
                                <input id="fb" class="lhst_input_info_share mt-1" type="text" placeholder="Facebook ID" maxlength="50" value=@Model.PlayerInformation.Facebook />
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="lhst_country_king_size mb-0">Description</p>
                        <div>
                            <textarea id="player_description" class="lhst_contact_info_input_description mt-1" type="text" maxlength="256" placeholder="Write here everything you think is necessary.">@Model.PlayerInformation.Description</textarea>

                            <p id="contactInfoStatus" class="mt-2 mb-0 float-left"></p>
                            <br />
                            <button id="save_contact_information_btn" type="submit" class="lhst_settings_button mt-2 mr-2 float-right">Save</button>
                        </div>
                    </div>
                    
                   
                </div>
                @*<div class="mt-2 text-right">
                        <button type="submit" class="lhst_btn_avatar_confirm">Share</button>
                    </div>*@
            </div>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/select_avatar_img_by_click.js"></script>
    <script src="~/js/update_avatar_img_by_click.js"></script>
    <script src="~/js/settings_upload_custom_avatar.js"></script>
    <script src="~/js/save_contact_information.js"></script>
    <script src="~/js/socialMedia_link.js"></script>
</div>
