@model MiddleAges.Entities.Player
@using MiddleAges.ViewComponents

@{
    ViewData["Title"] = "middle ages";    
}
<p class="lhst_avatar_possessions_titles">Avatar</p>

<div class="d-flex">
    <div class="lhst_avatar_left-side-bar lhst_avatar_vertical-alignment-top">

    </div>
    @for (int i = 1; i < 12; i++)
    {
        <div class="lhst_building_ext_card lhst_inline">
            <div class="lhst_main_data_image">
                <img src="../img/avatars/@(i).jfif" width="117" height="117" class="myImg" alt="" />
            </div>
        </div>
    }
</div>
