@using MiddleAges.Entities;
@using MiddleAges.ViewModels;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using Newtonsoft.Json;
@model List<MiddleAges.ViewModels.WarInfoViewModel>

@{
    ViewData["Title"] = "middle ages";
    List<WarInfoViewModel> allWars = new List<WarInfoViewModel>();
    allWars = Model;

}

<div class="d-flex">
    <div class="lhst_left-side-bar lhst_vertical-alignment-top"></div>
    <div class="lhst_vertical-alignment-top lhst_main-section d-inline-block">
        <div class="lhst_wars_div tab col-6">
            <button class="warlinks" onclick="wars(event, 'CountryWars')">Country Wars</button>
            <button class="warlinks" onclick="wars(event, 'WorldWars')">All Wars</button>
            @* <div class="tabcontent lhst_inTab lhst_slider"> *@
            <div id="WorldWars" class="lhst_slider mt-2 warcontent lhst_inTab ">
                @for (int i = 0; i < allWars.Count; i++)
                {
                    <div class="row p-0">
                        <div class="col-2 p-0">
                            <img class="lhst_war_country_img" src="../img/map-regions-icons-middle-ages/Hrodna.png" alt="">
                        </div>
                        <div class="col-8 p-0">
                            <div class="row p-0 lhst_row_height">
                                <div class="col-3 p-0">
                                    <p class="lhst_wars_country_text ">Avalonium</p>
                                </div>
                                <div class="col-2 p-0 text-right">
                                    <p class="text-right lhst_country_info_region_value">54363</p>
                                </div>
                                <div class="col-1 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/knight.png" alt="">
                                </div>
                                <div class="col-1 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/knight.png" alt="">
                                </div>
                                <div class="col-2 p-0">
                                    <p class="lhst_country_info_region_value">54363</p>
                                </div>
                                <div class="col-3 p-0">
                                    <p class="lhst_wars_country_text ">Savvochka</p>
                                </div>
                            </div>
                            <div class="row lhst_row_height">
                                <div class="col-3 p-0">
                                    <p class="lhst_wars_lands_text ">Hrodna</p>
                                </div>
                                <div class="col-2 p-0 text-right">
                                    <p class="text-right lhst_country_info_region_value">123</p>
                                </div>
                                <div class="col-1 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" alt="">
                                </div>
                                <div class="col-1 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" alt="">
                                </div>
                                <div class="col-2 p-0 ">
                                    <p class="lhst_country_info_region_value">213</p>
                                </div>
                                <div class="col-3 p-0">
                                    <p class="lhst_wars_lands_text ">Vetka</p>
                                </div>
                            </div>
                            <div class="row lhst_row_height">
                                <div class="col-4 float-right p-0 mt-1">
                                    <p class="float-right mr-2 lhst_country_info_region_value">Left</p>
                                </div>
                                <div class="col-2 float-left p-0">
                                    <time datetime="2016-11-18T09:54" class="lhst_country_info_region_value">24:00:00</time>
                                </div>
                                <div class="col-6 float-left p-0">
                                    <button type="button"
                                            data-warid=@allWars[i].War.WarId
                                            class="lhst_btn_unit_recruit warDetailsBtn">
                                        Details
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 p-0">
                            <img class="lhst_war_country_img lhst_country_history_img" src="../img/map-regions-icons-middle-ages/Vetka.png" alt="">
                        </div>

                    </div>
                }
            </div>
            <div id="CountryWars" class="lhst_slider mt-2 warcontent lhst_inTab">
                @for (int i = 0; i < 15; i++)
                {
                    <div class="row p-0">
                        <div class="col-2 p-0">
                            <img class="lhst_war_country_img" src="../img/map-regions-icons-middle-ages/Brest.png" alt="">
                        </div>
                        <div class="col-8 p-0">
                            <div class="row p-0 lhst_row_height">
                                <div class="col-3 p-0">
                                    <p class="lhst_wars_country_text ">KekLolBeck</p>
                                </div>
                                <div class="col-2 p-0 text-right">
                                    <p class="text-right lhst_country_info_region_value">937</p>
                                </div>
                                <div class="col-1 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/knight.png" alt="">
                                </div>
                                <div class="col-1 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/knight.png" alt="">
                                </div>
                                <div class="col-2 p-0">
                                    <p class="lhst_country_info_region_value">647</p>
                                </div>
                                <div class="col-3 p-0">
                                    <p class="lhst_wars_country_text ">PepeTheFrogMyDudes</p>
                                </div>
                            </div>
                            <div class="row lhst_row_height">
                                <div class="col-3 p-0">
                                    <p class="lhst_wars_lands_text ">Brest</p>
                                </div>
                                <div class="col-2 p-0 text-right">
                                    <p class="text-right lhst_country_info_region_value">43</p>
                                </div>
                                <div class="col-1 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" alt="">
                                </div>
                                <div class="col-1 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" alt="">
                                </div>
                                <div class="col-2 p-0 ">
                                    <p class="lhst_country_info_region_value">12</p>
                                </div>
                                <div class="col-3 p-0">
                                    <p class="lhst_wars_lands_text ">Lahoisk</p>
                                </div>
                            </div>
                            <div class="row lhst_row_height">
                                <div class="col-4 float-right p-0 mt-1">
                                    <p class="float-right mr-2 lhst_country_info_region_value">Left</p>
                                </div>
                                <div class="col-2 float-left p-0">
                                    <time datetime="2016-11-18T09:54" class="lhst_country_info_region_value">12:53:32</time>
                                </div>
                                <div class="col-6 float-left p-0">
                                    <input id="" type="submit" class="lhst_btn_unit_recruit" onclick="openDetailsWar()" value="Details" />
                                </div>
                            </div>
                        </div>
                        <div class="col-2 p-0 float-right">
                            <img class="lhst_war_country_img lhst_country_history_img" src="../img/map-regions-icons-middle-ages/Lahoisk.png" alt="">
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/tabs.js" type="text/javascript" language="JavaScript"></script>
    <script src="~/js/wars_details.js"></script>
</div>


<div class="lhst_dialog_wars modal" id="warsDetails">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideDetailsWar()">x</button>
    </div>

    <div class="row p-0">
        <div class="col-2 p-0">
            <img id="imgFrom" class="lhst_war_country_img" src="../img/map-regions-icons-middle-ages/Hrodna.png" alt="">
        </div>
        <div class="col-8 p-0">
            <div class="row p-0 lhst_row_height">
                <div class="col-3 p-0">
                    <p id="countryFromName" class="lhst_wars_country_text">CountryFrom</p>
                </div>
                <div class="col-2 p-0 text-right">
                    <p id="soldiersCountLeft" class="text-right lhst_country_info_region_value">937</p>
                </div>
                <div class="col-1 p-0">
                    <img class="lhst_war_country_img" src="../img/default-icon/knight.png" alt="">
                </div>
                <div class="col-1 p-0">
                    <img class="lhst_war_country_img" src="../img/default-icon/knight.png" alt="">
                </div>
                <div class="col-2 p-0">
                    <p id="soldiersCountRight" class="lhst_country_info_region_value">647</p>
                </div>
                <div id="countryToName" class="col-3 p-0">
                    <p id="countryToName" class="lhst_wars_country_text ">CountryTo</p>
                </div>
            </div>
            <div class="row lhst_row_height">
                <div class="col-3 p-0">
                    <p id="landFromName" class="lhst_wars_lands_text ">LandFrom</p>
                </div>
                <div class="col-2 p-0 text-right">
                    <p id="armiesCountLeft" class="text-right lhst_country_info_region_value">0</p>
                </div>
                <div class="col-1 p-0">
                    <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" alt="">
                </div>
                <div class="col-1 p-0">
                    <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" alt="">
                </div>
                <div class="col-2 p-0 ">
                    <p id="armiesCountRight" class="lhst_country_info_region_value">12</p>
                </div>
                <div class="col-3 p-0">
                    <p id="landToName" class="lhst_wars_lands_text ">LandTo</p>
                </div>
            </div>
            @*<form asp-controller="War" asp-action="SendTroops">*@
                <div class="row lhst_row_height mt-3">
                    <div class="col-4 p-0">
                        <input id="soldiersCountLeftValue" name="unitsAmountLeftCountryWarInput" list="values" class="lhst_tb_unit_recruit" type="number" value="1" max="100" onkeyup="this.value = this.value.replace(/[^\d]/g,'');" />
                    </div>
                    <div class="col-2 p-0">
                        <input type="submit" class="lhst_btn_unit_recruit" onclick="sendTroopsLeftSide()" value="Send" />
                    </div>
                    <div class="col-2 p-0">
                        <input type="submit" class="lhst_btn_unit_recruit" onclick="sendTroopsRightSide()" value="Send" />
                    </div>
                    <div class="col-4 p-0 text-right">
                        <input id="soldiersCountRightValue" name="unitsAmountRightCountryWarInput" list="values" class="lhst_tb_unit_recruit" type="number" value="1" max="100" onkeyup="this.value = this.value.replace(/[^\d]/g,'');" />
                    </div>
                </div>
            @*</form>*@

        </div>
        <div class="col-2 p-0 float-right">
            <img id="imgTo" class="lhst_war_country_img lhst_country_history_img" src="../img/map-regions-icons-middle-ages/Lahoisk.png" alt="">
        </div>

    </div>
    <div class="row p-0">
        <div id="attackersDiv" class="col-6 p0 pt-3">
            @*@for (int i = 0; i < 10; i++)
            {

                <div>
                    <img class="lhst_country_history_img" height="32" src="~/img/avatars/1.webp" alt="" loading="lazy">
                    <p class="lhst_country_info_region_value">96537</p>
                </div>                
            }*@
        </div>
        <div id="defendersDiv" class="col-6 p0 pt-3">
            @*@for (int i = 0; i < 10; i++)
            {
                <img class="lhst_country_history_img" height="32" src="~/img/avatars/1.webp" alt="" loading="lazy">
                <p class="lhst_country_info_region_value">54937</p>
            }*@
        </div>
    </div>


</div>